@use "../../_tools/mixin" as *;
@use "./variables" as *;

@include button-variant(
  $class-name: $button-success-class-name,
  $color: $button-success-color,
  $bg-color: $button-success-bg-color,
  $border-color: $button-success-border-color,
);
