@use '../../../_mixins/button-variant' as *;
@use './variables' as *;

@include button-variant(
  "btn",
  "btn--success",
  $color: $btn-success-color,
  $bg-color: $btn-success-bg-color,
  $border-color: $btn-success-border-color,
);
