@use "../../variables" as *;

$button-success-class-name: "#{$button-class-name}--success" !default;
$button-success-color: $button-color !default;
$button-success-bg-color: #34c353 !default;
$button-success-border-color: $button-success-bg-color !default;
