@use "../../../_mixins/button" as *;
@use "./variables" as *;

@include button-variant(
  "btn--danger",
  $color: $btn-danger-color,
  $bg-color: $btn-danger-bg-color,
  $border-color: $btn-danger-border-color,
);
