@use "../../_tools/mixin" as *;
@use "./variables" as *;

@include button-variant(
  $class-name: $button-danger-class-name,
  $color: $button-danger-color,
  $bg-color: $button-danger-bg-color,
  $border-color: $button-danger-border-color,
);
