@use "../../variables" as *;

$button-danger-class-name: "#{$button-class-name}--danger" !default;
$button-danger-color: $button-color !default;
$button-danger-bg-color: #f63030 !default;
$button-danger-border-color: $button-danger-bg-color !default;
