<div class="app-content">
  <div class="app-section">
    <h2 class="h2">Button size</h2>
    <div class="app-sectionBlock">
      <p style="width: 34em;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <div class="app-block">
        <button type="button" class="btn btn--xs">button.btn.btn--xs</button>
        <button type="button" class="btn btn--sm">button.btn.btn--sm</button>
        <button type="button" class="btn">button.btn</button>
        <button type="button" class="btn btn--md">button.btn.btn--md</button>
        <button type="button" class="btn btn--lg">button.btn.btn--lg</button>
        <button type="button" class="btn btn--xl">button.btn.btn--xl</button>
      </div>
    </div>
  </div>

  <div class="app-section">
    <h2 class="h2">Button</h2>
    <div class="app-sectionBlock app-block">
      <button type="button" class="btn">button.btn</button>
      <input type="button" class="btn" value="input[type=button].btn">
      <input type="submit" class="btn" value="input[type=submit].btn">
      <input type="reset" class="btn" value="input[type=reset].btn">
      <a class="btn" href="#">a.btn[href]</a>
    </div>
    <div class="app-sectionBlock app-block">
      <button type="button" class="btn btn--success">button.btn.btn--success</button>
      <input type="button" class="btn btn--success" value="input[type=button].btn.btn--success">
      <input type="submit" class="btn btn--success" value="input[type=submit].btn.btn--success">
      <input type="reset" class="btn btn--success" value="input[type=reset].btn.btn--success">
      <a class="btn btn--success" href="#">a.btn.btn--success[href]</a>
    </div>
    <div class="app-sectionBlock app-block">
      <button type="button" class="btn btn--warning">button.btn.btn--warning</button>
      <input type="button" class="btn btn--warning" value="input[type=button].btn.btn--warning">
      <input type="submit" class="btn btn--warning" value="input[type=submit].btn.btn--warning">
      <input type="reset" class="btn btn--warning" value="input[type=reset].btn.btn--warning">
      <a class="btn btn--warning" href="#">a.btn.btn--warning[href]</a>
    </div>
    <div class="app-sectionBlock app-block">
      <button type="button" class="btn btn--danger">button.btn.btn--danger</button>
      <input type="button" class="btn btn--danger" value="input[type=button].btn.btn--danger">
      <input type="submit" class="btn btn--danger" value="input[type=submit].btn.btn--danger">
      <input type="reset" class="btn btn--danger" value="input[type=reset].btn.btn--danger">
      <a class="btn btn--danger" href="#">a.btn.btn--danger[href]</a>
    </div>
  </div>

  <div class="app-section">
    <h2 class="h2">Button disabled state</h2>
    <div class="app-sectionBlock app-block">
      <button type="button" class="btn" disabled>button.btn:disabled</button>
      <input type="button" class="btn" value="input[type=button].btn:disabled" disabled>
      <input type="submit" class="btn" value="input[type=submit].btn:disabled" disabled>
      <input type="reset" class="btn" value="input[type=reset].btn:disabled" disabled>
      <a class="btn disabled" tabindex="-1" aria-disabled="true">a.btn.disabled:not([href])[tabindex=-1][aria-disabled=true]</a>
    </div>
    <div class="app-sectionBlock app-block">
      <button type="button" class="btn btn--success" disabled>button.btn.btn--success:disabled</button>
      <input type="button" class="btn btn--success" value="input[type=button].btn.btn--success:disabled" disabled>
      <input type="submit" class="btn btn--success" value="input[type=submit].btn.btn--success:disabled" disabled>
      <input type="reset" class="btn btn--success" value="input[type=reset].btn.btn--success:disabled" disabled>
      <a class="btn btn--success disabled" tabindex="-1" aria-disabled="true">a.btn.btn--success.disabled:not([href])[tabindex=-1][aria-disabled=true]</a>
    </div>
    <div class="app-sectionBlock app-block">
      <button type="button" class="btn btn--warning" disabled>button.btn.btn--warning:disabled</button>
      <input type="button" class="btn btn--warning" value="input[type=button].btn.btn--warning:disabled" disabled>
      <input type="submit" class="btn btn--warning" value="input[type=submit].btn.btn--warning:disabled" disabled>
      <input type="reset" class="btn btn--warning" value="input[type=reset].btn.btn--warning:disabled" disabled>
      <a class="btn btn--warning disabled" tabindex="-1" aria-disabled="true">a.btn.btn--warning.disabled:not([href])[tabindex=-1][aria-disabled=true]</a>
    </div>
    <div class="app-sectionBlock app-block">
      <button type="button" class="btn btn--danger" disabled>button.btn.btn--danger:disabled</button>
      <input type="button" class="btn btn--danger" value="input[type=button].btn.btn--danger:disabled" disabled>
      <input type="submit" class="btn btn--danger" value="input[type=submit].btn.btn--danger:disabled" disabled>
      <input type="reset" class="btn btn--danger" value="input[type=reset].btn.btn--danger:disabled" disabled>
      <a class="btn btn--danger disabled" tabindex="-1" aria-disabled="true">a.btn.btn--danger.disabled:not([href])[tabindex=-1][aria-disabled=true]</a>
    </div>
  </div>

  <div class="app-section">
    <h2 class="h2">Button fieldset disabled</h2>
    <form class="form">
      <fieldset class="form-fieldset" disabled>
        <div class="app-sectionBlock app-block">
          <button type="button" class="btn">fieldset[disabled] button.btn</button>
          <input type="button" class="btn" value="fieldset[disabled] input[type=button].btn">
          <input type="submit" class="btn" value="fieldset[submit] input[type=button].btn">
          <input type="reset" class="btn" value="fieldset[reset] input[type=button].btn">
          <a class="btn" tabindex="-1" aria-disabled="true">fieldset[disabled] a.btn:not([href])[tabindex=-1][aria-disabled=true]</a>
        </div>
        <div class="app-sectionBlock app-block">
          <button type="button" class="btn btn--success">fieldset[disabled] button.btn.btn--success</button>
          <input type="button" class="btn btn--success" value="fieldset[disabled] input[type=button].btn.btn--success">
          <input type="submit" class="btn btn--success" value="fieldset[disabled] input[type=submit].btn.btn--success">
          <input type="reset" class="btn btn--success" value="fieldset[disabled] input[type=reset].btn.btn--success">
          <a class="btn btn--success" tabindex="-1" aria-disabled="true">fieldset[disabled] a.btn.btn--success:not([href])[tabindex=-1][aria-disabled=true]</a>
        </div>
        <div class="app-sectionBlock app-block">
          <button type="button" class="btn btn--warning">fieldset[disabled] button.btn.btn--warning</button>
          <input type="button" class="btn btn--warning" value="fieldset[disabled] input[type=button].btn.btn--warning">
          <input type="submit" class="btn btn--warning" value="fieldset[disabled] input[type=submit].btn.btn--warning">
          <input type="reset" class="btn btn--warning" value="fieldset[disabled] input[type=reset].btn.btn--warning">
          <a class="btn btn--warning" tabindex="-1" aria-disabled="true">fieldset[disabled] a.btn.btn--warning:not([href])[tabindex=-1][aria-disabled=true]</a>
        </div>
        <div class="app-sectionBlock app-block">
          <button type="button" class="btn btn--danger">fieldset[disabled] button.btn.btn--danger</button>
          <input type="button" class="btn btn--danger" value="fieldset[disabled] input[type=button].btn.btn--danger">
          <input type="submit" class="btn btn--danger" value="fieldset[disabled] input[type=submit].btn.btn--danger">
          <input type="reset" class="btn btn--danger" value="fieldset[disabled] input[type=reset].btn.btn--danger">
          <a class="btn btn--danger" tabindex="-1" aria-disabled="true">fieldset[disabled] a.btn.btn--danger:not([href])[tabindex=-1][aria-disabled=true]</a>
        </div>
      </fieldset>
    </form>
  </div>

  <div class="app-section">
    <h2 class="h2">Button group</h2>
    <div class="app-sectionBlock">
      <div class="form-group">
        <button type="button" class="btn">button.btn</button>
        <input class="btn" type="button" value="input[type=button].btn">
        <input class="btn" type="submit" value="input[type=submit].btn">
        <input class="btn" type="reset" value="input[type=reset].btn">
        <a class="btn" href="#">a.btn</a>
      </div>
    </div>
    <div class="app-sectionBlock">
      <div class="form-group">
        <button type="button" class="btn btn--success">button.btn.btn--success</button>
        <input class="btn btn--success" type="button" value="input[type=button].btn.btn--success">
        <input class="btn btn--success" type="submit" value="input[type=submit].btn.btn--success">
        <input class="btn btn--success" type="reset" value="input[type=reset].btn.btn--success">
        <a class="btn btn--success" href="#">a.btn.btn--success</a>
      </div>
    </div>
    <div class="app-sectionBlock">
      <div class="form-group">
        <button type="button" class="btn btn--warning">button.btn.btn--warning</button>
        <input class="btn btn--warning" type="button" value="input[type=button].btn.btn--warning">
        <input class="btn btn--warning" type="submit" value="input[type=submit].btn.btn--warning">
        <input class="btn btn--warning" type="reset" value="input[type=reset].btn.btn--warning">
        <a class="btn btn--warning" href="#">a.btn.btn--warning</a>
      </div>
    </div>
    <div class="app-sectionBlock">
      <div class="form-group">
        <button type="button" class="btn btn--danger">button.btn.btn--danger</button>
        <input class="btn btn--danger" type="button" value="input[type=button].btn.btn--danger">
        <input class="btn btn--danger" type="submit" value="input[type=submit].btn.btn--danger">
        <input class="btn btn--danger" type="reset" value="input[type=reset].btn.btn--danger">
        <a class="btn btn--danger" href="#">a.btn.btn--danger</a>
      </div>
    </div>
  </div>

  <div class="app-section">
    <h2 class="h2">Button group disabled</h2>
    <div class="app-sectionBlock">
      <div class="form-group">
        <button type="button" class="btn" disabled>button.btn:disabled</button>
        <input class="btn" type="button" value="input[type=button].btn:disabled" disabled>
        <input class="btn" type="submit" value="input[type=submit].btn:disabled" disabled>
        <input class="btn" type="reset" value="input[type=reset].btn:disabled" disabled>
        <a class="btn disabled" tabindex="-1" aria-disabled="true">a.btn.disabled:not([href])[tabindex=-1][aria-disabled=true]</a>
      </div>
    </div>
    <div class="app-sectionBlock">
      <div class="form-group">
        <button type="button" class="btn btn--success" disabled>button.btn.btn--success:disabled</button>
        <input class="btn btn--success" type="button" value="input[type=button].btn.btn--success:disabled" disabled>
        <input class="btn btn--success" type="submit" value="input[type=submit].btn.btn--success:disabled" disabled>
        <input class="btn btn--success" type="reset" value="input[type=reset].btn.btn--success:disabled" disabled>
        <a class="btn disabled btn--success" tabindex="-1" aria-disabled="true">a.btn.disabled.btn--success:not([href])[tabindex=-1][aria-disabled=true]</a>
      </div>
    </div>
    <div class="app-sectionBlock">
      <div class="form-group">
        <button type="button" class="btn btn--warning" disabled>button.btn.btn--warning:disabled</button>
        <input class="btn btn--warning" type="button" value="input[type=button].btn.btn--warning:disabled" disabled>
        <input class="btn btn--warning" type="submit" value="input[type=submit].btn.btn--warning:disabled" disabled>
        <input class="btn btn--warning" type="reset" value="input[type=reset].btn.btn--warning:disabled" disabled>
        <a class="btn disabled btn--warning" tabindex="-1" aria-disabled="true">a.btn.disabled.btn--warning:not([href])[tabindex=-1][aria-disabled=true]</a>
      </div>
    </div>
    <div class="app-sectionBlock">
      <div class="form-group">
        <button type="button" class="btn btn--danger" disabled>button.btn.btn--danger:disabled</button>
        <input class="btn btn--danger" type="button" value="input[type=button].btn.btn--danger:disabled" disabled>
        <input class="btn btn--danger" type="submit" value="input[type=submit].btn.btn--danger:disabled" disabled>
        <input class="btn btn--danger" type="reset" value="input[type=reset].btn.btn--danger:disabled" disabled>
        <a class="btn disabled btn--danger" tabindex="-1" aria-disabled="true">a.btn.disabled.btn--danger:not([href])[tabindex=-1][aria-disabled=true]</a>
      </div>
    </div>
  </div>

  <div class="app-section">
    <h2 class="h2">Button group fieldset disabled</h2>
    <form class="form">
      <fieldset class="form-fieldset" disabled>
        <div class="app-sectionBlock">
          <div class="form-group">
            <button type="button" class="btn">fieldset:disabled button.btn</button>
            <input class="btn" type="button" value="fieldset:disabled input[type=button].btn">
            <input class="btn" type="submit" value="fieldset:disabled input[type=submit].btn">
            <input class="btn" type="reset" value="fieldset:disabled input[type=reset].btn">
            <a class="btn" tabindex="-1" aria-disabled="true">fieldset:disabled a.btn:not([href])[tabindex=-1][aria-disabled=true]</a>
          </div>
        </div>
        <div class="app-sectionBlock">
          <div class="form-group">
            <button type="button" class="btn btn--success">fieldset:disabled button.btn.btn--success</button>
            <input class="btn btn--success" type="button" value="fieldset:disabled input[type=button].btn.btn--success">
            <input class="btn btn--success" type="submit" value="fieldset:disabled input[type=submit].btn.btn--success">
            <input class="btn btn--success" type="reset" value="fieldset:disabled input[type=reset].btn.btn--success">
            <a class="btn btn--success" tabindex="-1" aria-disabled="true">fieldset:disabled a.btn.btn--success:not([href])[tabindex=-1][aria-disabled=true]</a>
          </div>
        </div>
        <div class="app-sectionBlock">
          <div class="form-group">
            <button type="button" class="btn btn--warning">fieldset:disabled button.btn.btn--warning</button>
            <input class="btn btn--warning" type="button" value="fieldset:disabled input[type=button].btn.btn--warning">
            <input class="btn btn--warning" type="submit" value="fieldset:disabled input[type=submit].btn.btn--warning">
            <input class="btn btn--warning" type="reset" value="fieldset:disabled input[type=reset].btn.btn--warning">
            <a class="btn btn--warning" tabindex="-1" aria-disabled="true">fieldset:disabled a.btn.btn--warning:not([href])[tabindex=-1][aria-disabled=true]</a>
          </div>
        </div>
        <div class="app-sectionBlock">
          <div class="form-group">
            <button type="button" class="btn btn--danger">fieldset:disabled button.btn.btn--danger</button>
            <input class="btn btn--danger" type="button" value="fieldset:disabled input[type=button].btn.btn--danger">
            <input class="btn btn--danger" type="submit" value="fieldset:disabled input[type=submit].btn.btn--danger">
            <input class="btn btn--danger" type="reset" value="fieldset:disabled input[type=reset].btn.btn--danger">
            <a class="btn btn--danger" tabindex="-1" aria-disabled="true">fieldset:disabled a.btn.btn--danger:not([href])[tabindex=-1][aria-disabled=true]</a>
          </div>
        </div>
      </fieldset>
    </form>
  </div>

  <div class="app-section">
    <h2 class="h2">Toggle button</h2>
    <div class="app-sectionBlock app-block">
      <label class="btn-toggle">
        <input type="checkbox">
        <span class="btn-toggle-text">label.btn-toggle input[type=checkbox]</span>
      </label>
      <label class="btn-toggle">
        <input type="checkbox" checked>
        <span class="btn-toggle-text">label.btn-toggle input[type=checkbox]:checked</span>
      </label>
    </div>
    <div class="app-sectionBlock app-block">
      <label class="btn-toggle btn-toggle--error">
        <input type="checkbox">
        <span class="btn-toggle-text">label.btn-toggle.btn-toggle--error input[type=checkbox]</span>
      </label>
      <label class="btn-toggle btn-toggle--error">
        <input type="checkbox" checked>
        <span class="btn-toggle-text">label.btn-toggle.btn-toggle--error input[type=checkbox]:checked</span>
      </label>
    </div>
    <div class="app-sectionBlock app-block">
      <label class="btn-toggle">
        <input type="radio" name="toggle-button">
        <span class="btn-toggle-text">label.btn-toggle input[type=radio]</span>
      </label>
      <label class="btn-toggle">
        <input type="radio" name="toggle-button" checked>
        <span class="btn-toggle-text">label.btn-toggle input[type=radio]:checked</span>
      </label>
    </div>
    <div class="app-sectionBlock app-block">
      <label class="btn-toggle btn-toggle--error">
        <input type="radio" name="toggle-button-error">
        <span class="btn-toggle-text">label.btn-toggle.btn-toggle--error input[type=checkbox]</span>
      </label>
      <label class="btn-toggle btn-toggle--error">
        <input type="radio" name="toggle-button-error" checked>
        <span class="btn-toggle-text">label.btn-toggle.btn-toggle--error input[type=checkbox]:checked</span>
      </label>
    </div>
  </div>

  <div class="app-section">
    <h2 class="h2">Toggle button disabled</h2>
    <div class="app-sectionBlock app-block">
      <label class="btn-toggle">
        <input type="checkbox" disabled>
        <span class="btn-toggle-text">label.btn-toggle input[type=checkbox]:disabled</span>
      </label>
      <label class="btn-toggle">
        <input type="checkbox" disabled checked>
        <span class="btn-toggle-text">label.btn-toggle input[type=checkbox]:checked:disabled</span>
      </label>
    </div>
    <div class="app-sectionBlock app-block">
      <label class="btn-toggle btn-toggle--error">
        <input type="checkbox" disabled>
        <span class="btn-toggle-text">label.btn-toggle.btn-toggle--error input[type=checkbox]:disabled</span>
      </label>
      <label class="btn-toggle btn-toggle--error">
        <input type="checkbox" disabled checked>
        <span class="btn-toggle-text">label.btn-toggle.btn-toggle--error input[type=checkbox]:checked:disabled</span>
      </label>
    </div>
    <div class="app-sectionBlock app-block">
      <label class="btn-toggle">
        <input type="radio" name="toggle-button-disabled" disabled>
        <span class="btn-toggle-text">label.btn-toggle input[type=radio]:disabled</span>
      </label>
      <label class="btn-toggle">
        <input type="radio" name="toggle-button-disabled" disabled checked>
        <span class="btn-toggle-text">label.btn-toggle input[type=radio]:checked:disabled</span>
      </label>
    </div>
    <div class="app-sectionBlock app-block">
      <label class="btn-toggle btn-toggle--error">
        <input type="radio" name="toggle-button-disabled-error" disabled>
        <span class="btn-toggle-text">label.btn-toggle.btn-toggle--error input[type=radio]:disabled</span>
      </label>
      <label class="btn-toggle btn-toggle--error">
        <input type="radio" name="toggle-button-disabled-error" disabled checked>
        <span class="btn-toggle-text">label.btn-toggle.btn-toggle--error input[type=radio]:checked:disabled</span>
      </label>
    </div>
  </div>

  <div class="app-section">
    <h2 class="h2">Toggle button fieldset disabled</h2>
    <form class="form">
      <fieldset class="form-fieldset" disabled>
        <div class="app-sectionBlock app-block">
          <label class="btn-toggle">
            <input type="checkbox">
            <span class="btn-toggle-text">fieldset:disabled label.btn-toggle input[type=checkbox]</span>
          </label>
          <label class="btn-toggle">
            <input type="checkbox" checked>
            <span class="btn-toggle-text">fieldset:disabled label.btn-toggle input[type=checkbox]:checked</span>
          </label>
        </div>
        <div class="app-sectionBlock app-block">
          <label class="btn-toggle btn-toggle--error">
            <input type="checkbox">
            <span class="btn-toggle-text">fieldset:disabled label.btn-toggle.btn-toggle--error input[type=checkbox]</span>
          </label>
          <label class="btn-toggle btn-toggle--error">
            <input type="checkbox" checked>
            <span class="btn-toggle-text">fieldset:disabled label.btn-toggle.btn-toggle--error input[type=checkbox]:checked</span>
          </label>
        </div>
        <div class="app-sectionBlock app-block">
          <label class="btn-toggle">
            <input type="radio" name="toggle-button-fieldset-disabled">
            <span class="btn-toggle-text">fieldset:disabled label.btn-toggle input[type=radio]</span>
          </label>
          <label class="btn-toggle">
            <input type="radio" name="toggle-button-fieldset-disabled" checked>
            <span class="btn-toggle-text">fieldset:disabled label.btn-toggle input[type=radio]:checked</span>
          </label>
        </div>
        <div class="app-sectionBlock app-block">
          <label class="btn-toggle btn-toggle--error">
            <input type="radio" name="toggle-button-fieldset-disabled-error">
            <span class="btn-toggle-text">fieldset:disabled label.btn-toggle.btn-toggle--error input[type=radio]</span>
          </label>
          <label class="btn-toggle btn-toggle--error">
            <input type="radio" name="toggle-button-fieldset-disabled-error" checked>
            <span class="btn-toggle-text">fieldset:disabled label.btn-toggle.btn-toggle--error input[type=radio]:checked</span>
          </label>
        </div>
      </fieldset>
    </form>
  </div>

  <div class="app-section">
    <h2 class="h2">Toggle button group</h2>
    <div class="app-sectionBlock">
      <div class="form-group">
        <label class="btn-toggle">
          <input type="checkbox">
          <span class="btn-toggle-text">label.btn-toggle input[type=checkbox]</span>
        </label>
        <label class="btn-toggle">
          <input type="checkbox" checked>
          <span class="btn-toggle-text">label.btn-toggle input[type=checkbox]:checked</span>
        </label>
      </div>
    </div>
    <div class="app-sectionBlock">
      <div class="form-group">
        <label class="btn-toggle btn-toggle--error">
          <input type="checkbox">
          <span class="btn-toggle-text">label.btn-toggle.btn-toggle--error input[type=checkbox]</span>
        </label>
        <label class="btn-toggle btn-toggle--error">
          <input type="checkbox" checked>
          <span class="btn-toggle-text">label.btn-toggle.btn-toggle--error input[type=checkbox]:checked</span>
        </label>
      </div>
    </div>
    <div class="app-sectionBlock">
      <div class="form-group">
        <label class="btn-toggle">
          <input type="radio" name="toggle-button-group">
          <span class="btn-toggle-text">label.btn-toggle input[type=radio]</span>
        </label>
        <label class="btn-toggle">
          <input type="radio" name="toggle-button-group" checked>
          <span class="btn-toggle-text">label.btn-toggle input[type=radio]:checked</span>
        </label>
      </div>
    </div>
    <div class="app-sectionBlock">
      <div class="form-group">
        <label class="btn-toggle btn-toggle--error">
          <input type="radio" name="toggle-button-group-error">
          <span class="btn-toggle-text">label.btn-toggle.btn-toggle--error input[type=checkbox]</span>
        </label>
        <label class="btn-toggle btn-toggle--error">
          <input type="radio" name="toggle-button-group-error" checked>
          <span class="btn-toggle-text">label.btn-toggle.btn-toggle--error input[type=checkbox]:checked</span>
        </label>
      </div>
    </div>
  </div>

  <div class="app-section">
    <h2 class="h2">Toggle button group disabled</h2>
    <div class="app-sectionBlock">
      <div class="form-group">
        <label class="btn-toggle">
          <input type="checkbox" disabled>
          <span class="btn-toggle-text">label.btn-toggle input[type=checkbox]:disabled</span>
        </label>
        <label class="btn-toggle">
          <input type="checkbox" disabled checked>
          <span class="btn-toggle-text">label.btn-toggle input[type=checkbox]:checked:disabled</span>
        </label>
      </div>
    </div>
    <div class="app-sectionBlock">
      <div class="form-group">
        <label class="btn-toggle btn-toggle--error">
          <input type="checkbox" disabled>
          <span class="btn-toggle-text">label.btn-toggle.btn-toggle--error input[type=checkbox]:disabled</span>
        </label>
        <label class="btn-toggle btn-toggle--error">
          <input type="checkbox" disabled checked>
          <span class="btn-toggle-text">label.btn-toggle.btn-toggle--error input[type=checkbox]:checked:disabled</span>
        </label>
      </div>
    </div>
    <div class="app-sectionBlock">
      <div class="form-group">
        <label class="btn-toggle">
          <input type="radio" name="toggle-button-group-disabled" disabled>
          <span class="btn-toggle-text">label.btn-toggle input[type=radio]:disabled</span>
        </label>
        <label class="btn-toggle">
          <input type="radio" name="toggle-button-group-disabled" disabled checked>
          <span class="btn-toggle-text">label.btn-toggle input[type=radio]:checked:disabled</span>
        </label>
      </div>
    </div>
    <div class="app-sectionBlock">
      <div class="form-group">
        <label class="btn-toggle btn-toggle--error">
          <input type="radio" name="toggle-button-disabled-error" disabled>
          <span class="btn-toggle-text">label.btn-toggle.btn-toggle--error input[type=radio]:disabled</span>
        </label>
        <label class="btn-toggle btn-toggle--error">
          <input type="radio" name="toggle-button-disabled-error" disabled checked>
          <span class="btn-toggle-text">label.btn-toggle.btn-toggle--error input[type=radio]:checked:disabled</span>
        </label>
      </div>
    </div>
  </div>

  <div class="app-section">
    <h2 class="h2">Toggle button group fieldset disabled</h2>
    <form class="form">
      <fieldset class="form-fieldset" disabled>
        <div class="app-sectionBlock">
          <div class="form-group">
            <label class="btn-toggle">
              <input type="checkbox">
              <span class="btn-toggle-text">fieldset:disabled label.btn-toggle input[type=checkbox]</span>
            </label>
            <label class="btn-toggle">
              <input type="checkbox" checked>
              <span class="btn-toggle-text">fieldset:disabled label.btn-toggle input[type=checkbox]:checked</span>
            </label>
          </div>
        </div>
        <div class="app-sectionBlock">
          <div class="form-group">
            <label class="btn-toggle btn-toggle--error">
              <input type="checkbox">
              <span class="btn-toggle-text">fieldset:disabled label.btn-toggle.btn-toggle--error input[type=checkbox]</span>
            </label>
            <label class="btn-toggle btn-toggle--error">
              <input type="checkbox" checked>
              <span class="btn-toggle-text">fieldset:disabled label.btn-toggle.btn-toggle--error input[type=checkbox]:checked</span>
            </label>
          </div>
        </div>
        <div class="app-sectionBlock">
          <div class="form-group">
            <label class="btn-toggle">
              <input type="radio" name="toggle-button-group-fieldset-disabled">
              <span class="btn-toggle-text">fieldset:disabled label.btn-toggle input[type=radio]</span>
            </label>
            <label class="btn-toggle">
              <input type="radio" name="toggle-button-group-fieldset-disabled" checked>
              <span class="btn-toggle-text">fieldset:disabled label.btn-toggle input[type=radio]:checked</span>
            </label>
          </div>
        </div>
        <div class="app-sectionBlock">
          <div class="form-group">
            <label class="btn-toggle btn-toggle--error">
              <input type="radio" name="toggle-button-group-fieldset-disabled-error">
              <span class="btn-toggle-text">fieldset:disabled label.btn-toggle.btn-toggle--error input[type=radio]</span>
            </label>
            <label class="btn-toggle btn-toggle--error">
              <input type="radio" name="toggle-button-group-fieldset-disabled-error" checked>
              <span class="btn-toggle-text">fieldset:disabled label.btn-toggle.btn-toggle--error input[type=radio]:checked</span>
            </label>
          </div>
        </div>
      </fieldset>
    </form>
  </div>

  <div class="app-section">
    <h2 class="h2">Toggle button in label group</h2>
    <div class="app-sectionBlock">
      <div class="btn-toggle-group">
        <label class="btn-toggle">
          <input type="checkbox" id="toggle-button-in-btn-toggle-group-1">
        </label>
        <label class="btn-toggle-label" for="toggle-button-in-btn-toggle-group-1">.btn-toggle-group (label.btn-toggle input[type=checkbox], label.btn-toggle-label)</label>
      </div>
      <div class="btn-toggle-group">
        <label class="btn-toggle">
          <input type="checkbox" id="toggle-button-in-btn-toggle-group-2" checked>
        </label>
        <label class="btn-toggle-label" for="toggle-button-in-btn-toggle-group-2">.btn-toggle-group (label.btn-toggle input[type=checkbox]:checked, label.btn-toggle-label)</label>
      </div>
    </div>
    <div class="app-sectionBlock">
      <div class="btn-toggle-group">
        <label class="btn-toggle btn-toggle--error">
          <input type="checkbox" id="toggle-button-in-btn-toggle-group-3">
        </label>
        <label class="btn-toggle-label" for="toggle-button-in-btn-toggle-group-3">.btn-toggle-group (label.btn-toggle.btn-toggle--error input[type=checkbox], label.btn-toggle-label)</label>
      </div>
      <div class="btn-toggle-group">
        <label class="btn-toggle btn-toggle--error">
          <input type="checkbox" id="toggle-button-in-btn-toggle-group-4" checked>
        </label>
        <label class="btn-toggle-label" for="toggle-button-in-btn-toggle-group-4">.btn-toggle-group (label.btn-toggle.btn-toggle--error input[type=checkbox]:checked, label.btn-toggle-label)</label>
      </div>
    </div>
    <div class="app-sectionBlock">
      <div class="btn-toggle-group">
        <label class="btn-toggle">
          <input type="radio" id="toggle-button-in-btn-toggle-group-5" name="toggle-button-in-btn-toggle-group">
        </label>
        <label class="btn-toggle-label" for="toggle-button-in-btn-toggle-group-5">.btn-toggle-group (label.btn-toggle input[type=radio], label.btn-toggle-label)</label>
      </div>
      <div class="btn-toggle-group">
        <label class="btn-toggle">
          <input type="radio" id="toggle-button-in-btn-toggle-group-6" name="toggle-button-in-btn-toggle-group" checked>
        </label>
        <label class="btn-toggle-label" for="toggle-button-in-btn-toggle-group-6">.btn-toggle-group (label.btn-toggle input[type=radio]:checked, label.btn-toggle-label)</label>
      </div>
    </div>
    <div class="app-sectionBlock">
      <div class="btn-toggle-group">
        <label class="btn-toggle btn-toggle--error">
          <input type="radio" id="toggle-button-in-btn-toggle-group-7" name="toggle-button-in-btn-toggle-group-error">
        </label>
        <label class="btn-toggle-label" for="toggle-button-in-btn-toggle-group-7">.btn-toggle-group (label.btn-toggle.btn-toggle--error input[type=radio], label.btn-toggle-label)</label>
      </div>
      <div class="btn-toggle-group">
        <label class="btn-toggle btn-toggle--error">
          <input type="radio" id="toggle-button-in-btn-toggle-group-8" name="toggle-button-in-btn-toggle-group-error" checked>
        </label>
        <label class="btn-toggle-label" for="toggle-button-in-btn-toggle-group-8">.btn-toggle-group (label.btn-toggle.btn-toggle--error input[type=radio]:checked, label.btn-toggle-label)</label>
      </div>
    </div>
  </div>

  <div class="app-section">
    <h2 class="h2">Toggle button in label group disabled</h2>
    <div class="app-sectionBlock">
      <div class="btn-toggle-group">
        <label class="btn-toggle">
          <input type="checkbox" id="toggle-button-in-btn-toggle-group-disabled-1" disabled>
        </label>
        <label class="btn-toggle-label disabled" for="toggle-button-in-btn-toggle-group-disabled-1">.btn-toggle-group (label.btn-toggle input[type=checkbox]:disabled, label.btn-toggle-label.disabled)</label>
      </div>
      <div class="btn-toggle-group">
        <label class="btn-toggle">
          <input type="checkbox" id="toggle-button-in-btn-toggle-group-disabled-2" disabled checked>
        </label>
        <label class="btn-toggle-label disabled" for="toggle-button-in-btn-toggle-group-disabled-2">.btn-toggle-group (label.btn-toggle input[type=checkbox]:disabled:checked, label.btn-toggle-label.disabled)</label>
      </div>
    </div>
    <div class="app-sectionBlock">
      <div class="btn-toggle-group">
        <label class="btn-toggle btn-toggle--error">
          <input type="checkbox" id="toggle-button-in-btn-toggle-group-disabled-3" disabled>
        </label>
        <label class="btn-toggle-label disabled" for="toggle-button-in-btn-toggle-group-disabled-3">.btn-toggle-group (label.btn-toggle.btn-toggle--error input[type=checkbox]:disabled, label.btn-toggle-label.disabled)</label>
      </div>
      <div class="btn-toggle-group">
        <label class="btn-toggle btn-toggle--error">
          <input type="checkbox" id="toggle-button-in-btn-toggle-group-disabled-4" disabled checked>
        </label>
        <label class="btn-toggle-label disabled" for="toggle-button-in-btn-toggle-group-disabled-4">.btn-toggle-group (label.btn-toggle.btn-toggle--error input[type=checkbox]:disabled:checked, label.btn-toggle-label.disabled)</label>
      </div>
    </div>
    <div class="app-sectionBlock">
      <div class="btn-toggle-group">
        <label class="btn-toggle">
          <input type="radio" id="toggle-button-in-btn-toggle-group-disabled-5" name="toggle-button-in-btn-toggle-group-disabled" disabled>
        </label>
        <label class="btn-toggle-label disabled" for="toggle-button-in-btn-toggle-group-disabled-5">.btn-toggle-group (label.btn-toggle input[type=radio]:disabled, label.btn-toggle-label.disabled)</label>
      </div>
      <div class="btn-toggle-group">
        <label class="btn-toggle">
          <input type="radio" id="toggle-button-in-btn-toggle-group-disabled-6" name="toggle-button-in-btn-toggle-group-disabled" disabled checked>
        </label>
        <label class="btn-toggle-label disabled" for="toggle-button-in-btn-toggle-group-disabled-6">.btn-toggle-group (label.btn-toggle input[type=radio]:disabled:checked, label.btn-toggle-label.disabled)</label>
      </div>
    </div>
    <div class="app-sectionBlock">
      <div class="btn-toggle-group">
        <label class="btn-toggle btn-toggle--error">
          <input type="radio" id="toggle-button-in-btn-toggle-group-disabled-7" name="toggle-button-in-btn-toggle-group-disabled-error" disabled>
        </label>
        <label class="btn-toggle-label disabled" for="toggle-button-in-btn-toggle-group-disabled-7">.btn-toggle-group (label.btn-toggle.btn-toggle--error input[type=radio]:disabled, label.btn-toggle-label.disabled)</label>
      </div>
      <div class="btn-toggle-group">
        <label class="btn-toggle btn-toggle--error">
          <input type="radio" id="toggle-button-in-btn-toggle-group-disabled-8" name="toggle-button-in-btn-toggle-group-disabled-error" disabled checked>
        </label>
        <label class="btn-toggle-label disabled" for="toggle-button-in-btn-toggle-group-disabled-8">.btn-toggle-group (label.btn-toggle.btn-toggle--error input[type=radio]:disabled:checked, label.btn-toggle-label.disabled)</label>
      </div>
    </div>
  </div>

  <div class="app-section">
    <h2 class="h2">Toggle button in label group fieldset disabled</h2>
    <form class="form">
      <fieldset class="form-fieldset" disabled>
        <div class="app-sectionBlock">
          <div class="btn-toggle-group">
            <label class="btn-toggle">
              <input type="checkbox" id="toggle-button-in-btn-toggle-group-fieldset-disabled-1">
            </label>
            <label class="btn-toggle-label" for="toggle-button-in-btn-toggle-group-fieldset-disabled-1">fieldset:disabled .btn-toggle-group (label.btn-toggle input[type=checkbox], label.btn-toggle-label)</label>
          </div>
          <div class="btn-toggle-group">
            <label class="btn-toggle">
              <input type="checkbox" id="toggle-button-in-btn-toggle-group-fieldset-disabled-2" checked>
            </label>
            <label class="btn-toggle-label" for="toggle-button-in-btn-toggle-group-fieldset-disabled-2">fieldset:disabled .btn-toggle-group (label.btn-toggle input[type=checkbox]:checked, label.btn-toggle-label)</label>
          </div>
        </div>
        <div class="app-sectionBlock">
          <div class="btn-toggle-group">
            <label class="btn-toggle btn-toggle--error">
              <input type="checkbox" id="toggle-button-in-btn-toggle-group-fieldset-disabled-3">
            </label>
            <label class="btn-toggle-label" for="toggle-button-in-btn-toggle-group-fieldset-disabled-3">fieldset:disabled .btn-toggle-group (label.btn-toggle.btn-toggle--error input[type=checkbox], label.btn-toggle-label)</label>
          </div>
          <div class="btn-toggle-group">
            <label class="btn-toggle btn-toggle--error">
              <input type="checkbox" id="toggle-button-in-btn-toggle-group-fieldset-disabled-4" checked>
            </label>
            <label class="btn-toggle-label" for="toggle-button-in-btn-toggle-group-fieldset-disabled-4">fieldset:disabled .btn-toggle-group (label.btn-toggle.btn-toggle--error input[type=checkbox]:checked, label.btn-toggle-label)</label>
          </div>
        </div>
        <div class="app-sectionBlock">
          <div class="btn-toggle-group">
            <label class="btn-toggle">
              <input type="radio" id="toggle-button-in-btn-toggle-group-fieldset-disabled-5" name="toggle-button-in-btn-toggle-group-disabled">
            </label>
            <label class="btn-toggle-label" for="toggle-button-in-btn-toggle-group-fieldset-disabled-5">fieldset:disabled .btn-toggle-group (label.btn-toggle input[type=radio], label.btn-toggle-label)</label>
          </div>
          <div class="btn-toggle-group">
            <label class="btn-toggle">
              <input type="radio" id="toggle-button-in-btn-toggle-group-fieldset-disabled-6" name="toggle-button-in-btn-toggle-group-disabled" checked>
            </label>
            <label class="btn-toggle-label" for="toggle-button-in-btn-toggle-group-fieldset-disabled-6">fieldset:disabled .btn-toggle-group (label.btn-toggle input[type=radio]:checked, label.btn-toggle-label)</label>
          </div>
        </div>
        <div class="app-sectionBlock">
          <div class="btn-toggle-group">
            <label class="btn-toggle btn-toggle--error">
              <input type="radio" id="toggle-button-in-btn-toggle-group-fieldset-disabled-7" name="toggle-button-in-btn-toggle-group-disabled-error">
            </label>
            <label class="btn-toggle-label" for="toggle-button-in-btn-toggle-group-fieldset-disabled-7">fieldset:disabled .btn-toggle-group (label.btn-toggle.btn-toggle--error input[type=radio], label.btn-toggle-label)</label>
          </div>
          <div class="btn-toggle-group">
            <label class="btn-toggle btn-toggle--error">
              <input type="radio" id="toggle-button-in-btn-toggle-group-fieldset-disabled-8" name="toggle-button-in-btn-toggle-group-disabled-error" checked>
            </label>
            <label class="btn-toggle-label" for="toggle-button-in-btn-toggle-group-fieldset-disabled-8">fieldset:disabled .btn-toggle-group (label.btn-toggle.btn-toggle--error input[type=radio]:checked, label.btn-toggle-label)</label>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
