.btn--unstyled {
  padding: 0;
  line-height: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  border: none;
  border-radius: 0;
  cursor: pointer;
  transition: none;
}

.btn--unstyled,
.btn--unstyled:hover,
.btn--unstyled:focus,
.btn--unstyled:active,
.btn--unstyled:disabled {
  color: inherit;
  background-color: transparent;
  box-shadow: none;
  opacity: 1;
}
