.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-top: $heading-margin-top;
  margin-bottom: $heading-margin-bottom;
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  line-height: $heading-line-height;
  color: $heading-color;
}

.h1 {
  font-size: $heading-1-font-size;
}

.h2 {
  font-size: $heading-2-font-size;
}

.h3 {
  font-size: $heading-3-font-size;
}

.h4 {
  font-size: $heading-4-font-size;
}

.h5 {
  font-size: $heading-5-font-size;
}

.h6 {
  font-size: $heading-6-font-size;
}

.h--numbered {
  counter-reset: heading-2 heading-3 heading-4 heading-5 heading-6;
}

.h--numbered .h2 {
  counter-reset: heading-3 heading-4 heading-5 heading-6;
  counter-increment: heading-2;
}

.h--numbered .h2:before {
  content: counter(heading-2) ". ";
}

.h--numbered .h3 {
  counter-reset: heading-4 heading-5 heading-6;
  counter-increment: heading-3;
}

.h--numbered .h3:before {
  content: counter(heading-2) "." counter(heading-3) ". ";
}

.h--numbered .h4 {
  counter-reset: heading-5 heading-6;
  counter-increment: heading-4;
}

.h--numbered .h4:before {
  content: counter(heading-2) "." counter(heading-3) "." counter(heading-4) ". ";
}

.h--numbered .h5 {
  counter-reset: heading-6;
  counter-increment: heading-5;
}

.h--numbered .h5:before {
  content: counter(heading-2) "." counter(heading-3) "." counter(heading-4) "." counter(heading-5) ". ";
}

.h--numbered .h6 {
  counter-increment: heading-6;
}

.h--numbered .h6:before {
  content: counter(heading-2) "." counter(heading-3) "." counter(heading-4) "." counter(heading-5) "." counter(heading-6) ". ";
}
