$heading-1-font-size: 2.5em !default;
$heading-2-font-size: 2em !default;
$heading-3-font-size: 1.75em !default;
$heading-4-font-size: 1.5em !default;
$heading-5-font-size: 1.25em !default;
$heading-6-font-size: 1em !default;
$heading-color: inherit !default;
$heading-font-family: inherit !default;
$heading-font-weight: 500 !default;
$heading-line-height: 1.2em !default;
$heading-margin-bottom: 0.5em !default;
