$heading-1-fontSize: 2.5em !default;
$heading-2-fontSize: 2em !default;
$heading-3-fontSize: 1.75em !default;
$heading-4-fontSize: 1.5em !default;
$heading-5-fontSize: 1.25em !default;
$heading-6-fontSize: 1em !default;
$headingColor: inherit !default;
$headingFontFamily: inherit !default;
$headingFontWeight: 500 !default;
$headingLineHeight: 1.2em !default;
$headingMarginBottom: 0.5em !default;
