@mixin button-variant(
  $color,
  $bgColor,
  $borderColor,
  $hoverColor,
  $hoverBgColor,
  $hoverBorderColor,
  $focusColor,
  $focusBgColor,
  $focusBorderColor,
  $focusBoxShadow,
  $activeColor,
  $activeBgColor,
  $activeBorderColor,
  $activeBoxShadow,
  $disabledColor,
  $disabledBgColor,
  $disabledBorderColor
) {
  color: $color;
  background-color: $bgColor;
  border-color: $borderColor;

  &:hover {
    color: $hoverColor;
    background-color: $hoverBgColor;
    border-color: $hoverBorderColor;
  }

  &:focus,
  &.btn--focus  {
    color: $focusColor;
    background-color: $focusBgColor;
    border-color: $focusBorderColor;
    box-shadow: $focusBoxShadow;
  }

  &:active,
  &.btn--active {
    color: $activeColor;
    background-color: $activeBgColor;
    border-color: $activeBorderColor;
    box-shadow: $activeBoxShadow;
  }

  &:disabled,
  &.btn--disabled,
  fieldset:disabled & {
    opacity: $btnDisabledOpacity;
    color: $disabledColor;
    background-color: $disabledBgColor;
    border-color: $disabledBorderColor;
    box-shadow: none;
    cursor: default;
    pointer-events: none;
  }
}
