@use "./_tools/mixin" as *;
@use "./variables" as *;

@include label-group(
  $class-name: $label-group-class-name,
  $ngb-margin: $label-group-ngb-margin,
  $label-right-margin: $label-group-label-right-margin,
  $label-bottom-margin: $label-group-label-bottom-margin,
);
