@use '../_mixins/link' as *;
@use "./variables" as *;

@include link(
  "link",
  $color: $link-color,
  $text-decoration: $link-text-decoration,
  $hover-color: $link-hover-color,
  $hover-text-decoration: $link-hover-text-decoration,
  $active-color: $link-active-color,
  $active-text-decoration: $link-active-text-decoration,
  $focus-color: $link-focus-color,
  $focus-text-decoration: $link-focus-text-decoration,
  $disabled-color: $link-disabled-color,
  $disabled-text-decoration: $link-disabled-text-decoration,
  $disabled-opacity: $link-disabled-opacity,
  $fieldset-disabled-opacity: $link-fieldset-disabled-opacity,
  $visited-color: $link-visited-color,
  $visited-text-decoration: $link-visited-text-decoration,
);
