@use './variables' as *;

.link {
  color: $link-color;
  text-decoration: $link-text-decoration;
}

.link:visited,
.link.link--visited {
  color: $link-visited-color;
}

.link:hover,
.link.link--hover {
  color: $link-hover-color;
  text-decoration: $link-hover-text-decoration;
}

.link:focus,
.link.link--focus {
  color: $link-focus-color;
  text-decoration: $link-focus-text-decoration;
  outline: none;
}
