$link-color: #007bff !default;
$link-text-decoration: underline !default;
$link-hover-color: $link-color !default;
$link-hover-text-decoration: underline !default;
$link-active-color: $link-color !default;
$link-active-text-decoration: underline !default;
$link-focus-color: $link-color !default;
$link-focus-text-decoration: underline !default;
$link-disabled-color: $link-color !default;
$link-disabled-text-decoration: none !default;
$link-disabled-opacity: 0.5 !default;
$link-fieldset-disabled-opacity: 1 !default;
$link-visited-color: $link-color !default;
$link-visited-text-decoration: underline !default;
