$link-color: #007bff !default;
$link-text-decoration: none !default;
$link-visited-color: $link-color !default;
$link-visited-text-decoration: none !default;
$link-hover-color: $link-color !default;
$link-hover-text-decoration: underline !default;
$link-focus-color: $link-color !default;
$link-focus-text-decoration: underline !default;
$link-active-color: $link-color !default;
$link-active-text-decoration: underline !default;
