$linkColor: #007bff !default;
$linkTextDecoration: none !default;
$linkVisitedColor: $linkColor !default;
$linkHoverColor: $linkColor !default;
$linkHoverTextDecoration: underline !default;
$linkFocusColor: $linkColor !default;
$linkFocusTextDecoration: underline !default;
$linkFocusOutline: 0 !default;
