@use "../../_tools/mixin" as *;
@use "./variables" as *;

@include button-toggle-variant(
  $class-name: $button-toggle-error-class-name,
  $color: $button-toggle-error-color,
  $bg-color: $button-toggle-error-bg-color,
  $border-color: $button-toggle-error-border-color,
);
