@use "../../variables" as *;

$button-toggle-error-class-name: "#{$button-toggle-class-name}--error" !default;
$button-toggle-error-color: $button-toggle-color !default;
$button-toggle-error-bg-color: #f63030 !default;;
$button-toggle-error-border-color: $button-toggle-error-bg-color !default;
