/*
  Variables we use here:
    $listMarginBottom
    $listPaddingLeft
*/

.orderedList,
.unorderedList,
.descriptionList {
  margin-top: 0;
  margin-bottom: $listMarginBottom;
}

.orderedList,
.unorderedList {
  padding-left: $listPaddingLeft;
}

.orderedList .orderedList,
.unorderedList .unorderedList,
.orderedList .unorderedList,
.unorderedList .orderedList,
.descriptionList .descriptionList {
  margin-bottom: 0;
}

.descriptionList dt {
  font-weight: 700;
}

.descriptionList dd {
  margin-bottom: .5em;
  margin-left: 0;
}

.descriptionList dd:last-child {
  margin-bottom: 0;
}

.list--unstyled {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.list--inline li {
  display: inline-block;
}

.list--inline li + li {
  margin-left: 2em;
}
