.list {
  margin-top: 0;
  margin-bottom: 0;
  line-height: $listLineHeight;
}

.list--ordered {
  counter-reset: list;
}

.list--unordered {}

.list--ordered,
.list--unordered {
  padding-left: $listPaddingLeft;
  list-style: none;
}

.list--ordered li,
.list--unordered li {
  position: relative;
}

.list--ordered li:before,
.list--unordered li:before {
  position: absolute;
  right: 100%;
  display: inline-block;
  margin-right: $listLabelMarginRight;
}

.list--ordered li:before {
  counter-increment: list;
  content: counters(list, ".") ".";
}

.list--unordered li:before {
  content: "•";
}

.list-resetCounter {
  counter-reset: list;
}

.list-continueCounter {
  counter-reset: none;
}

.list-innerCounter {
  counter-reset: list;
}

.list-innerCounter li:before {
  counter-increment: list;
  content: counter(list) ". ";
}

.list--unstyled {
  padding-left: 0;
  list-style: none;
  line-height: inherit;
}
