.list {
  margin-top: 0;
  margin-bottom: 0;
  line-height: $list-line-height;
}

.list--ordered {
  counter-reset: list;
}

.list--unordered {}

.list--ordered,
.list--unordered {
  padding-left: $list-padding-left;
  list-style: none;
}

.list--ordered li,
.list--unordered li {
  position: relative;
}

.list--ordered li:before,
.list--unordered li:before {
  position: absolute;
  right: 100%;
  display: inline-block;
  margin-right: $list-label-margin-right;
}

.list--ordered li:before {
  counter-increment: list;
  content: counters(list, ".") ".";
}

.list--unordered li:before {
  content: "•";
}

.list-reset-counter {
  counter-reset: list;
}

.list-continue-counter {
  counter-reset: none;
}

.list-inner-counter {
  counter-reset: list;
}

.list-inner-counter li:before {
  counter-increment: list;
  content: counter(list) ". ";
}

.list--unstyled {
  padding-left: 0;
  list-style: none;
  line-height: inherit;
}
