@use "../../_tools/selector" as *;

// Форма
@mixin FORM($class-name) {
  $FORM: ".#{$class-name}";

  @include use($FORM) {
    @content;
  }
}

// Ярлык формы
@mixin FORM-LABEL($class-name) {
  $FORM-LABEL: ".#{$class-name}-label";

  @include use($FORM-LABEL) {
    @content;
  }
}

// Ярлык формы когда заблокирован или когда в неактивной группе полей
@mixin FORM-LABEL--DISABLED($class-name) {
  @include FORM-LABEL($class-name) {
    @include exactly(that-is(".disabled") that-is-inside("fieldset:disabled")) {
      @content;
    }
  }
}

// Ярлык формы в неактивной группе полей
@mixin FORM-LABEL--FIELDSET-DISABLED($class-name) {
  @include FORM-LABEL($class-name) {
    @include exactly(optionally(that-is(".disabled")), that-is-inside("fieldset:disabled")) {
      @content;
    }
  }
}

// Группа полей
@mixin FORM-FIELDSET($class-name) {
  $FORM-FIELDSET: ".#{$class-name}-fieldset";

  @include use($FORM-FIELDSET) {
    @content;
  }
}

// Неактивная группа полей
@mixin FORM-FIELDSET--DISABLED($class-name) {

  @include FORM-FIELDSET($class-name) {
    @include exactly(that-is(--DISABLED)) {
      @content;
    }
  }
}
