@use "sass:color";
@use "sass:meta";
@use "./button.variant" as *;
@use "./common" as *;

@mixin button-toggle-variant(
  $class-name,
  $color,
  $bg-color,
  $border-color,
  $hover-color: get-hover-color($color),
  $hover-bg-color: get-hover-bg-color($bg-color),
  $hover-border-color: get-hover-border-color($border-color),
  $focus-color: get-focus-color($color),
  $focus-bg-color: get-focus-bg-color($bg-color),
  $focus-border-color: get-focus-border-color($border-color),
  $focus-box-shadow: get-focus-box-shadow($focus-border-color),
  $active-color: get-active-color($color),
  $active-bg-color: get-active-bg-color($bg-color),
  $active-border-color: get-active-border-color($border-color),
  $active-box-shadow: get-active-box-shadow($active-border-color),
  $disabled-color: get-disabled-color($color),
  $disabled-bg-color: get-disabled-bg-color($bg-color),
  $disabled-border-color: get-disabled-border-color($border-color),
) {
  $button: ".#{$class-name}";
  $button-label: ".#{$class-name}-label";
  $checkbox: "input[type=checkbox]";
  $radio: "input[type=radio]";

  //
  // Кнопка
  //
  @include use($button) {
    @include layout-style($bg-color, $border-color);
    @include font-style($color);

    //
    // Кнопка при наведении
    //
    @include exactly(that-is(--HOVER)) {
      @include layout-style($hover-bg-color, $hover-border-color);
      @include font-style($hover-color);
    }

    //
    // Кнопка когда крыжик или кружок в фокусе
    //
    @include exactly(that-has($checkbox $radio, that-is(--FOCUS))) {
      outline: none;

      @include layout-style($focus-bg-color, $focus-border-color, $box-shadow: $focus-box-shadow);
      @include font-style($focus-color);
    }

    //
    // Кнопка когда крыжик или кружок активные
    //
    @include exactly(that-has($checkbox $radio, that-is(--ACTIVE))) {
      @include layout-style($active-bg-color, $active-border-color, $box-shadow: $active-box-shadow);
      @include font-style($active-color);
    }

    //
    // Кнопка с заблокированным крыжиком или кружком или когда в неактивной части формы
    //
    @include exactly(that-has($checkbox $radio, that-is(--DISABLED)) that-is-inside("fieldset:disabled")) {
      @include font-style($disabled-color);
      @include layout-style($disabled-bg-color, $disabled-border-color, $box-shadow: none);
    }
  }
}
