@mixin button-link(
  $class,
  $color,
  $text-decoration,
  $hover-color,
  $hover-text-decoration,
  $focus-color,
  $focus-text-decoration,
  $active-color,
  $active-text-decoration,
  $disabled-color,
  $disabled-text-decoration,
  $disabled-opacity
) {
  .#{$class} {
    background-color: transparent;
    border: none;
    color: $color;
    cursor: pointer;
    display: inline;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    padding: 0;
    text-decoration: $text-decoration;
  }

  .#{$class}:hover,
  .#{$class}.#{class}--hover {
    color: $hover-color;
    text-decoration: $hover-text-decoration;
  }

  .#{$class}:focus,
  .#{$class}.#{$class}--focus {
    color: $focus-color;
    text-decoration: $focus-text-decoration;
  }

  .#{$class}:focus {
    outline: none;
  }

  .#{$class}:active,
  .#{$class}.#{$class}--active {
    color: $active-color;
    text-decoration: $active-text-decoration;
  }

  .#{$class}:disabled,
  .#{$class}.#{$class}--disabled,
  fieldset:disabled .#{$class} {
    color: $disabled-color;
    cursor: default;
    opacity: $disabled-opacity;
    pointer-events: none;
    text-decoration: $disabled-text-decoration;
  }
}
