@mixin button-size(
  $class,
  $font-size-xs,
  $font-size-sm,
  $font-size-md,
  $font-size-lg,
  $font-size-xl
) {
  .#{$class}--xs {
    font-size: $font-size-xs;
  }

  .#{$class}--sm {
    font-size: $font-size-sm;
  }

  .#{$class}--md {
    font-size: $font-size-md;
  }

  .#{$class}--lg {
    font-size: $font-size-lg;
  }

  .#{$class}--xl {
    font-size: $font-size-xl;
  }
}
