@use "sass:color";
@use "sass:map";
@use "./common" as *;

@function get-hover-color($color) {
  @return $color;
}

@function get-hover-bg-color($bg-color) {
  @return color.adjust($bg-color, $lightness: -5%);
}

@function get-hover-border-color($border-color) {
  @return color.adjust($border-color, $lightness: -7.5%);
}

@function get-focus-color($color) {
  @return $color;
}

@function get-focus-bg-color($bg-color) {
  @return color.adjust($bg-color, $lightness: -5%);
}

@function get-focus-border-color($border-color) {
  @return color.adjust($border-color, $lightness: -7.5%);
}

@function get-focus-box-shadow($focus-border-color) {
  @return 0 0 0 0.2em rgba($focus-border-color, 0.5);
}

@function get-active-color($color) {
  @return $color;
}

@function get-active-bg-color($bg-color) {
  @return color.adjust($bg-color, $lightness: -5%);
}

@function get-active-border-color($border-color) {
  @return color.adjust($border-color, $lightness: -7.5%);
}

@function get-active-box-shadow($active-border-color) {
  @return 0 0 0 0.2em rgba($active-border-color, 0.5);
}

@function get-disabled-color($color) {
  @return $color;
}

@function get-disabled-bg-color($bg-color) {
  @return $bg-color;
}

@function get-disabled-border-color($border-color) {
  @return $border-color;
}

@mixin button-variant(
  $class-name,
  $color,
  $bg-color,
  $border-color,
  $hover-color: get-hover-color($color),
  $hover-bg-color: get-hover-bg-color($bg-color),
  $hover-border-color: get-hover-border-color($border-color),
  $focus-color: get-focus-color($color),
  $focus-bg-color: get-focus-bg-color($bg-color),
  $focus-border-color: get-focus-border-color($border-color),
  $focus-box-shadow: get-focus-box-shadow($focus-border-color),
  $active-color: get-active-color($color),
  $active-bg-color: get-active-bg-color($bg-color),
  $active-border-color: get-active-border-color($border-color),
  $active-box-shadow: get-active-box-shadow($active-border-color),
  $disabled-color: get-disabled-color($color),
  $disabled-bg-color: get-disabled-bg-color($bg-color),
  $disabled-border-color: get-disabled-border-color($border-color),
) {
  $button: ".#{$class-name}";

  //
  // Кнопка
  //
  @include use($button) {
    @include layout-style($bg-color, $border-color);
    @include font-style($color);

    //
    // Кнопка при наведении
    //
    @include exactly(that-is(--HOVER)) {
      @include layout-style($hover-bg-color, $hover-border-color);
      @include font-style($hover-color);
    }

    //
    // Кнопка когда в фокусе
    //
    @include exactly(that-is(--FOCUS))  {
      outline: none;

      @include layout-style($focus-bg-color, $focus-border-color, $box-shadow: $focus-box-shadow);
      @include font-style($focus-color);
    }

    //
    // Кнопка когда активная
    //
    @include exactly(that-is(--ACTIVE)) {
      @include layout-style($active-bg-color, $active-border-color, $box-shadow: $active-box-shadow);
      @include font-style($active-color);
    }

    //
    // Кнопка в неактивной части формы или когда заблокирована
    //
    @include exactly(that-is(--DISABLED) that-is-inside("fieldset:disabled") that-is(".disabled")) {
      @include font-style($disabled-color);
      @include layout-style($disabled-bg-color, $disabled-border-color, $box-shadow: none);
    }
  }
}
