@import './button-variant';

@mixin button-control-variant(
  $class,
  $variant-class,
  $icon-bg-color: transparent,
  $icon-border-color: currentColor,
  $icon-checked-bg-color: currentColor,
  $icon-checked-border-color: currentColor
) {
  // >>> Icon base
  .#{$variant-class}:before {
    background-color: $icon-bg-color;
    border-color: $icon-border-color;
  }
  // <<< Icon base


  // >>> Checked
  .#{$variant-class}.#{$class}--checked {}

  .#{$variant-class}.#{$class}--checked:before {
    background-color: $icon-checked-bg-color;
    border-color: $icon-checked-border-color;
  }
  // <<< Checked
}
