@mixin button(
  $class,
  $btn-font-family,
  $btn-font-size,
  $btn-font-weight,
  $btn-line-height,
  $btn-border-width,
  $btn-border-radius,
  $btn-vertical-padding,
  $btn-horizontal-padding,
  $btn-disabled-opacity,
  $btn-transition
) {
  .#{$class} {
    align-items: center;
    border-radius: $btn-border-radius;
    border-style: solid;
    border-width: $btn-border-width;
    cursor: pointer;
    display: inline-flex;
    font-family: $btn-font-family;
    font-size: $btn-font-size;
    font-weight: $btn-font-weight;
    justify-content: center;
    line-height: $btn-line-height;
    padding: $btn-vertical-padding $btn-horizontal-padding;
    text-align: center;
    text-decoration: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
  }

  .#{$class}:focus {
    outline: none;
  }

  .#{$class}:disabled,
  .#{$class}.#{$class}--disabled,
  fieldset:disabled .#{$class} {
    cursor: default;
    opacity: $btn-disabled-opacity;
    pointer-events: none;
  }

  .#{$class} {
    transition: $btn-transition;
  }

  @media screen and (prefers-reduced-motion: reduce) {
    .#{$class} {
      transition: none;
    }
  }
}
