@mixin button-variant(
  $class,
  $variant-class,
  $color,
  $bg-color,
  $border-color: $bg-color,
  $hover-color: $color,
  $hover-bg-color: darken($bg-color, 5%),
  $hover-border-color: darken($border-color, 7.5%),
  $focus-color: $color,
  $focus-bg-color: darken($bg-color, 5%),
  $focus-border-color: darken($border-color, 7.5%),
  $focus-box-shadow: 0 0 0 0.2em rgba($focus-border-color, 0.5),
  $active-color: $color,
  $active-bg-color: darken($bg-color, 5%),
  $active-border-color: darken($border-color, 7.5%),
  $disabled-color: $color,
  $disabled-bg-color: $bg-color,
  $disabled-border-color: $border-color
) {
  // >>> Base
  .#{$variant-class} {
    color: $color;
    background-color: $bg-color;
    border-color: $border-color;
  }
  // <<< Base


  // >>> Hover
  .#{$variant-class}:hover {
    color: $hover-color;
    background-color: $hover-bg-color;
    border-color: $hover-border-color;
  }
  // <<< Hover


  // >>> Focus
  .#{$variant-class}:focus,
  .#{$variant-class}.#{$class}--focus  {
    color: $focus-color;
    background-color: $focus-bg-color;
    border-color: $focus-border-color;
    box-shadow: $focus-box-shadow;
  }
  // <<< Focus


  // >>> Active
  .#{$variant-class}:active,
  .#{$variant-class}.#{$class}--active {
    color: $active-color;
    background-color: $active-bg-color;
    border-color: $active-border-color;
  }
  // <<< Active


  // >>> Disabled
  .#{$variant-class}:disabled,
  .#{$variant-class}.#{$class}--disabled,
  fieldset:disabled #{$variant-class} {
    color: $disabled-color;
    background-color: $disabled-bg-color;
    border-color: $disabled-border-color;
    box-shadow: none;
  }
  // <<< Disabled
}
