@mixin button-variant(
  $class,
  $modifier-class,
  $color,
  $bg-color,
  $border-color,
  $hover-color: $color,
  $hover-bg-color: darken($bg-color, 5%),
  $hover-border-color: darken($border-color, 7.5%),
  $focus-color: $color,
  $focus-bg-color: darken($bg-color, 5%),
  $focus-border-color: darken($border-color, 7.5%),
  $focus-box-shadow: 0 0 0 0.2em rgba($focus-border-color, 0.5),
  $active-color: $color,
  $active-bg-color: darken($bg-color, 5%),
  $active-border-color: darken($border-color, 7.5%),
  $active-box-shadow: 0 0 0 0.2em rgba($active-border-color, 0.5),
  $disabled-color: $color,
  $disabled-bg-color: $bg-color,
  $disabled-border-color: $border-color
) {
  .#{$modifier-class} {
    background-color: $bg-color;
    border-color: $border-color;
    color: $color;
  }

  .#{$modifier-class}:hover,
  .#{$modifier-class}.#{$class}--hover {
    background-color: $hover-bg-color;
    border-color: $hover-border-color;
    color: $hover-color;
  }

  .#{$modifier-class}:focus,
  .#{$modifier-class}.#{$class}--focus  {
    background-color: $focus-bg-color;
    border-color: $focus-border-color;
    box-shadow: $focus-box-shadow;
    color: $focus-color;
  }

  .#{$modifier-class}:active,
  .#{$modifier-class}.#{$class}--active {
    background-color: $active-bg-color;
    border-color: $active-border-color;
    box-shadow: $active-box-shadow;
    color: $active-color;
  }

  .#{$modifier-class}:disabled,
  .#{$modifier-class}.#{$class}--disabled,
  fieldset:disabled #{$modifier-class} {
    background-color: $disabled-bg-color;
    border-color: $disabled-border-color;
    box-shadow: none;
    color: $disabled-color;
  }
}
