@mixin button-group(
  $group-class,
  $class,
  $border-width
) {
  .#{$group-class} {
    display: inline-flex;
    position: relative;
    vertical-align: middle;
    z-index: 0;
  }

  .#{$group-class} .#{$class} {
    flex: 0 1 auto;
    position: relative;
  }

  .#{$group-class} .#{$class}:hover,
  .#{$group-class} .#{$class}.#{$class}--hover {
    z-index: 1;
  }

  .#{$group-class} .#{$class}:focus,
  .#{$group-class} .#{$class}--focus,
  .#{$group-class} .#{$class}:active,
  .#{$group-class} .#{$class}--active {
    z-index: 2;
  }

  .#{$group-class} .#{$class}:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-left: -$border-width;
  }

  .#{$group-class} .#{$class}:not(:last-child) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
}
