@mixin button(
  $class,
  $font-family,
  $font-size,
  $font-weight,
  $line-height,
  $border-width,
  $border-radius,
  $vertical-padding,
  $horizontal-padding,
  $disabled-opacity,
  $transition
) {
  .#{$class} {
    align-items: center;
    border-radius: $border-radius;
    border-style: solid;
    border-width: $border-width;
    cursor: pointer;
    display: inline-flex;
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
    justify-content: center;
    line-height: $line-height;
    padding: $vertical-padding $horizontal-padding;
    text-align: center;
    text-decoration: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
  }

  .#{$class}:focus,
  .#{$class}.#{$class}--focus {
    outline: none;
  }

  .#{$class}:disabled,
  .#{$class}.#{$class}--disabled,
  fieldset:disabled .#{$class} {
    cursor: default;
    opacity: $disabled-opacity;
    pointer-events: none;
  }

  .#{$class} {
    transition: $transition;
  }

  @media screen and (prefers-reduced-motion: reduce) {
    .#{$class} {
      transition: none;
    }
  }
}
