@mixin button-variant(
  $color,
  $bgColor,
  $borderColor,
  $hoverColor,
  $hoverBgColor,
  $hoverBorderColor,
  $focusColor,
  $focusBgColor,
  $focusBorderColor,
  $focusBoxShadow,
  $activeColor,
  $activeBgColor,
  $activeBorderColor,
  $disabledColor,
  $disabledBgColor,
  $disabledBorderColor
) {
  // >>> Base
  color: $color;
  background-color: $bgColor;
  border-color: $borderColor;
  // <<< Base


  // >>> Hover
  &:hover {
    color: $hoverColor;
    background-color: $hoverBgColor;
    border-color: $hoverBorderColor;
  }
  // <<< Hover


  // >>> Focus
  &:focus,
  &.btn--focus  {
    color: $focusColor;
    background-color: $focusBgColor;
    border-color: $focusBorderColor;
    box-shadow: $focusBoxShadow;
  }
  // <<< Focus


  // >>> Active
  &:active,
  &.btn--active {
    color: $activeColor;
    background-color: $activeBgColor;
    border-color: $activeBorderColor;
  }
  // <<< Active


  // >>> Disabled
  &:disabled,
  &.btn--disabled,
  fieldset:disabled & {
    color: $disabledColor;
    background-color: $disabledBgColor;
    border-color: $disabledBorderColor;
    box-shadow: none;
  }
  // <<< Disabled
}
