@mixin button-unstyled(
  $class,
  $disabled-opacity,
) {
  .#{$class} {
    align-items: center;
    border: none;
    border-radius: 0;
    cursor: pointer;
    display: inline-flex;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    justify-content: center;
    line-height: inherit;
    padding: 0;
    text-decoration: none;
    transition: none;
    white-space: nowrap;
  }

  .#{$class},
  .#{$class}:hover,
  .#{$class}.state-hover,
  .#{$class}:focus,
  .#{$class}.state-focus,
  .#{$class}:active,
  .#{$class}.state-active,
  .#{$class}:disabled,
  .#{$class}.state-disabled,
  fieldset:disabled .#{$class} {
    background-color: transparent;
    color: inherit;
  }

  .#{$class}:focus {
    outline: none;
  }

  .#{$class}:disabled,
  .#{$class}.state-disabled,
  fieldset:disabled .#{$class} {
    cursor: default;
    opacity: $disabled-opacity;
    pointer-events: none;
  }
}
