@mixin button-control(
  $class,
  $icon-bg-color,
  $icon-border-color,
  $icon-border-width,
  $icon-border-radius,
  $icon-opacity,
  $icon-transition,
  $icon-checked-bg-color,
  $icon-checked-border-color,
) {
  .#{$class}:before {
    background-color: $icon-bg-color;
    border: $icon-border-width solid $icon-border-color;
    content: "";
    display: block;
    height: 1em;
    opacity: $icon-opacity;
    width: 1em;
  }

  .#{$class}:before {
    transition: $icon-transition;
  }

  @media screen and (prefers-reduced-motion: reduce) {
    .#{$class}:before {
      transition: none;
    }
  }

  .#{$class}--checked {}

  .#{$class}--checked:before {
    background-color: $icon-checked-bg-color;
    border-color: $icon-checked-border-color;
    opacity: 1;
  }

  .#{$class}--has-label {}

  .#{$class}--has-label:before {
    margin-right: 0.4em;
  }

  .#{$class}--radio {
    border-radius: $icon-border-radius;
  }

  .#{$class}--radio:before {
    border-radius: calc(0.5em + #{$icon-border-width});
  }
}
