@use "sass:color";
@use "../_skeletons/button-toggle" as *;
@use "../_tools/style" as *;

@function get-hover-color($color) {
  @return $color;
}

@function get-hover-bg-color($bg-color) {
  @return color.adjust($bg-color, $lightness: -5%);
}

@function get-hover-border-color($border-color) {
  @return color.adjust($border-color, $lightness: -7.5%);
}

@function get-focus-color($color) {
  @return $color;
}

@function get-focus-bg-color($bg-color) {
  @return color.adjust($bg-color, $lightness: -5%);
}

@function get-focus-border-color($border-color) {
  @return color.adjust($border-color, $lightness: -7.5%);
}

@function get-focus-box-shadow($focus-border-color) {
  @return 0 0 0 0.2em rgba($focus-border-color, 0.5);
}

@function get-active-color($color) {
  @return $color;
}

@function get-active-bg-color($bg-color) {
  @return color.adjust($bg-color, $lightness: -5%);
}

@function get-active-border-color($border-color) {
  @return color.adjust($border-color, $lightness: -7.5%);
}

@function get-active-box-shadow($active-border-color) {
  @return 0 0 0 0.2em rgba($active-border-color, 0.5);
}

@function get-disabled-color($color) {
  @return $color;
}

@function get-disabled-bg-color($bg-color) {
  @return $bg-color;
}

@function get-disabled-border-color($border-color) {
  @return $border-color;
}

@mixin button-toggle(
  $class-name,
  $font-family,
  $font-size,
  $font-weight,
  $line-height,
  $border-width,
  $border-radius,
  $vertical-padding,
  $horizontal-padding,
  $inner-text-left-padding,
  $transition,
  $icon-size,
  $icon-bg-color,
  $icon-border-color,
  $icon-border-width,
  $icon-transition,
  $icon-checked-bg-color,
  $icon-checked-border-color,
  $label-line-height,
  $label-left-padding,
  $group-ngb-margin,
  $disabled-opacity,
) {
  @include BUTTON-TOGGLE($class-name) {
    position: relative;
    @include cursor-style(pointer, $user-select: none);
    @include display-style(flex, center, center);
    @include font-style(--UNDEFINED, $font-size, $font-weight, $font-family, $line-height, none, $white-space: nowrap);
    @include layout-style(--UNDEFINED, --UNDEFINED, $border-width, solid, $border-radius);
    @include padding-style($vertical-padding, $horizontal-padding);
    @include transition-style($transition);
  }

  @include BUTTON-TOGGLE--INSIDE-GROUP($class-name) {
    @include padding-style($vertical-padding, $vertical-padding);
  }

  @include BUTTON-TOGGLE--DISABLED($class-name) {
    @include cursor-style(default, none);
    @include layout-style(--UNDEFINED, --UNDEFINED, $opacity: $disabled-opacity);
  }

  @include BUTTON-TOGGLE--WITH-RADIO($class-name) {
    @include layout-style(--UNDEFINED, --UNDEFINED, $border-radius: calc(1lh / 2 + $vertical-padding + $border-width));
  }

  @include BUTTON-TOGGLE--CONTROL($class-name) {
    appearance: none;
    content: "";
    // Not removed via appearance
    margin: 0;
    @include cursor-style(inherit, inherit);
    @include display-style(block);
    @include layout-style($icon-bg-color, $icon-border-color, $icon-border-width, solid);
    @include size-style($icon-size, $icon-size);
    @include transition-style($transition);
  }

  @include BUTTON-TOGGLE--CONTROL--FOCUS($class-name) {
    outline: none;
  }

  @include BUTTON-TOGGLE--CONTROL--CHECKED($class-name) {
    @include layout-style($icon-checked-bg-color, $icon-checked-border-color);
  }

  @include BUTTON-TOGGLE--RADIO($class-name) {
    @include layout-style(--UNDEFINED, --UNDEFINED, $border-radius: 50%);
  }

  @include BUTTON-TOGGLE--TEXT($class-name) {
    padding-left: $inner-text-left-padding;
    @include font-style(--UNDEFINED, $text-align: center);
  }

  @include BUTTON-TOGGLE--GROUP($class-name) {
    margin-bottom: $group-ngb-margin;
    @include display-style(flex, flex-start);
  }

  @include BUTTON-TOGGLE--GROUP--LABEL($class-name) {
    padding-left: $label-left-padding;
    padding-top: calc($vertical-padding + $border-width - ((1lh - $icon-size) / 2));
    @include font-style(--UNDEFINED, $line-height: $label-line-height);
    @include cursor-style(pointer, $user-select: none);
  }

  @include BUTTON-TOGGLE--GROUP--LABEL--DISABLED($class-name) {
    @include cursor-style(default, none);
    @include layout-style(--UNDEFINED, --UNDEFINED, $opacity: $disabled-opacity);
  }
}

@mixin button-toggle-variant(
  $class-name,
  $color,
  $bg-color,
  $border-color,
  $hover-color: get-hover-color($color),
  $hover-bg-color: get-hover-bg-color($bg-color),
  $hover-border-color: get-hover-border-color($border-color),
  $focus-color: get-focus-color($color),
  $focus-bg-color: get-focus-bg-color($bg-color),
  $focus-border-color: get-focus-border-color($border-color),
  $focus-box-shadow: get-focus-box-shadow($focus-border-color),
  $active-color: get-active-color($color),
  $active-bg-color: get-active-bg-color($bg-color),
  $active-border-color: get-active-border-color($border-color),
  $active-box-shadow: get-active-box-shadow($active-border-color),
  $disabled-color: get-disabled-color($color),
  $disabled-bg-color: get-disabled-bg-color($bg-color),
  $disabled-border-color: get-disabled-border-color($border-color),
) {
  @include BUTTON-TOGGLE($class-name) {
    @include layout-style($bg-color, $border-color);
    @include font-style($color);
  }

  @include BUTTON-TOGGLE--HOVER($class-name) {
    @include layout-style($hover-bg-color, $hover-border-color);
    @include font-style($hover-color);
  }

  @include BUTTON-TOGGLE--FOCUS($class-name) {
    outline: none;
    @include layout-style($focus-bg-color, $focus-border-color, $box-shadow: $focus-box-shadow);
    @include font-style($focus-color);
  }

  @include BUTTON-TOGGLE--ACTIVE($class-name) {
    @include layout-style($active-bg-color, $active-border-color, $box-shadow: $active-box-shadow);
    @include font-style($active-color);
  }

  @include BUTTON-TOGGLE--DISABLED($class-name) {
    @include font-style($disabled-color);
    @include layout-style($disabled-bg-color, $disabled-border-color, $box-shadow: none);
  }
}
