@mixin form-control-variant(
  $class,
  $modifier-class,
  $color,
  $bg-color,
  $border-color: darken($bg-color, 12%),
  $placeholder-color: lighten($color, 35%),
  $hover-color: $color,
  $hover-bg-color: $bg-color,
  $hover-border-color: darken($border-color, 7.5%),
  $hover-placeholder-color: $placeholder-color,
  $focus-color: $color,
  $focus-bg-color: $bg-color,
  $focus-border-color: darken($border-color, 7.5%),
  $focus-box-shadow: 0 0 0 0.2em rgba($focus-border-color, 0.5),
  $focus-placeholder-color: $placeholder-color,
  $readonly-color: $color,
  $readonly-bg-color: darken($bg-color, 2.5%),
  $readonly-border-color: $border-color,
  $readonly-placeholder-color: $placeholder-color,
  $disabled-color: $color,
  $disabled-bg-color: $bg-color,
  $disabled-border-color: $border-color,
  $disabled-placeholder-color: $placeholder-color
) {
  .#{$modifier-class} {
    background-color: $bg-color;
    border-color: $border-color;
    color: $color;
  }

  .#{$modifier-class}::placeholder {
    color: $placeholder-color;
  }

  .#{$modifier-class}:hover,
  .#{$modifier-class}.#{$class}--hover {
    background-color: $hover-bg-color;
    border-color: $hover-border-color;
    color: $hover-color;
  }

  .#{$modifier-class}:hover::placeholder,
  .#{$modifier-class}.#{$class}--hover::placeholder {
    color: $hover-placeholder-color;
  }

  .#{$modifier-class}:focus,
  .#{$modifier-class}.#{$class}--focus {
    background-color: $focus-bg-color;
    border-color: $focus-border-color;
    box-shadow: $focus-box-shadow;
    color: $focus-color;
  }

  .#{$modifier-class}:focus::placeholder,
  .#{$modifier-class}.#{$class}--focus::placeholder {
    color: $focus-placeholder-color;
  }

  .#{$modifier-class}[readonly],
  .#{$modifier-class}.#{$class}--readonly {
    background-color: $readonly-bg-color;
    border-color: $readonly-border-color;
    color: $readonly-color;
  }

  .#{$modifier-class}[readonly]::placeholder,
  .#{$modifier-class}.#{$class}--readonly::placeholder {
    color: $readonly-placeholder-color;
  }

  .#{$modifier-class}:disabled,
  .#{$modifier-class}.#{$class}--disabled,
  fieldset:disabled .#{$modifier-class} {
    background-color: $disabled-bg-color;
    border-color: $disabled-border-color;
    color: $disabled-color;
  }

  .#{$modifier-class}:disabled::placeholder,
  .#{$modifier-class}.#{$class}--disabled::placeholder,
  fieldset:disabled .#{$modifier-class}::placeholder {
    color: $disabled-placeholder-color;
  }
}
