@mixin form-control(
  $class,
  $vertical-padding,
  $horizontal-padding,
  $line-height,
  $font-family,
  $font-size,
  $font-weight,
  $border-width,
  $border-radius,
  $readonly-opacity,
  $disabled-opacity,
  $transition,
  $textarea-line-height,
  $textarea-height
) {

  // --> Base
  .#{$class} {
    display: block;
    border: $border-width solid transparent;
    border-radius: $border-radius;
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
    height: calc(#{$vertical-padding} * 2 + #{$line-height} * #{$border-width} * 2);
    line-height: $line-height;
    padding: $vertical-padding $horizontal-padding;
    transition: $transition;
    width: 100%;
  }

  textarea.#{$class} {
    height: $textarea-height;
    line-height: $textarea-line-height;
  }

  .#{$class}::placeholder {
    opacity: 1;
    user-select: none;
  }
  // <-- Base


  // --> Focus
  .#{$class}:focus,
  .#{$class}.#{$class}--focus {
    outline: none;
  }
  // <-- Focus


  // --> Readonly
  .#{$class}[readonly],
  .#{$class}.#{$class}--readonly {
    cursor: default;
    opacity: $readonly-opacity;
  }
  // <-- Readonly


  // --> Disabled
  .#{$class}:disabled,
  .#{$class}.#{$class}--disabled,
  fieldset:disabled .#{$class} {
    cursor: default;
    opacity: $disabled-opacity;
    pointer-events: none;
  }
  // <-- Disabled


  // --> Transition
  .#{$class} {
    transition: $transition;
  }

  @media screen and (prefers-reduced-motion: reduce) {
    .#{$class} {
      transition: none;
    }
  }
  // <-- Transition
}
