@use "sass:color";
@use "../_tools/style" as *;
@use "../_skeletons/form-control" as *;

@mixin form-control(
  $class-name,
  $vertical-padding,
  $horizontal-padding,
  $line-height,
  $font-family,
  $font-size,
  $font-weight,
  $border-width,
  $border-radius,
  $readonly-opacity,
  $disabled-opacity,
  $transition,
  $textarea-line-height,
  $textarea-height
) {
  @include FORM-CONTROL($class-name) {
    @include display-style(block);
    @include font-style(--UNDEFINED, $font-size, $font-weight, $font-family, $line-height);
    @include layout-style(--UNDEFINED, --UNDEFINED, $border-width, solid, $border-radius);
    @include padding-style($vertical-padding, $horizontal-padding);
    @include size-style(100%);
    @include transition-style($transition);
  }

  @include FORM-CONTROL-TEXTAREA($class-name) {
    @include font-style(--UNDEFINED, $line-height: $textarea-line-height);
    @include size-style(--UNDEFINED, $textarea-height);
  }

  @include FORM-CONTROL--PLACEHOLDER($class-name) {
    @include cursor-style($user-select: none);
    @include layout-style(--UNDEFINED, --UNDEFINED, $opacity: 1);
  }

  @include FORM-CONTROL--FOCUS($class-name) {
    outline: none;
  }

  @include FORM-CONTROL--READONLY($class-name) {
    @include cursor-style(default);
    @include layout-style(--UNDEFINED, --UNDEFINED, $opacity: $readonly-opacity);
  }

  @include FORM-CONTROL--DISABLED($class-name) {
    @include cursor-style(default, none);
    @include layout-style(--UNDEFINED, --UNDEFINED, $opacity: $disabled-opacity);
  }
}

@mixin form-control-variant(
  $class-name,
  $color,
  $bg-color,
  $border-color: color.adjust($bg-color, $lightness: -12%),
  $placeholder-color: color.adjust($color, $lightness: 35%),
  $hover-color: $color,
  $hover-bg-color: $bg-color,
  $hover-border-color: color.adjust($border-color, $lightness: -7.5%),
  $hover-placeholder-color: $placeholder-color,
  $focus-color: $color,
  $focus-bg-color: $bg-color,
  $focus-border-color: color.adjust($border-color, $lightness: -7.5%),
  $focus-box-shadow: 0 0 0 0.2em rgba($focus-border-color, 0.5),
  $focus-placeholder-color: $placeholder-color,
  $readonly-color: $color,
  $readonly-bg-color: color.adjust($bg-color, $lightness: -2.5%),
  $readonly-border-color: $border-color,
  $readonly-placeholder-color: $placeholder-color,
  $disabled-color: $color,
  $disabled-bg-color: $bg-color,
  $disabled-border-color: $border-color,
  $disabled-placeholder-color: $placeholder-color
) {
  @include FORM-CONTROL($class-name) {
    @include font-style($color);
    @include layout-style($bg-color, $border-color);
  }

  @include FORM-CONTROL--PLACEHOLDER($class-name) {
    @include font-style($placeholder-color);
  }

  @include FORM-CONTROL--HOVER($class-name) {
    @include font-style($hover-color);
    @include layout-style($hover-bg-color, $hover-border-color);
  }

  @include FORM-CONTROL--HOVER--PLACEHOLDER($class-name) {
    @include font-style($hover-placeholder-color);
  }

  @include FORM-CONTROL--FOCUS($class-name) {
    @include font-style($focus-color);
    @include layout-style($focus-bg-color, $focus-border-color, $box-shadow: $focus-box-shadow);
  }

  @include FORM-CONTROL--FOCUS--PLACEHOLDER($class-name) {
    @include font-style($focus-placeholder-color);
  }

  @include FORM-CONTROL--READONLY($class-name) {
    @include font-style($readonly-color);
    @include layout-style($readonly-bg-color, $readonly-border-color);
  }

  @include FORM-CONTROL--READONLY--PLACEHOLDER($class-name) {
    @include font-style($readonly-placeholder-color);
  }

  @include FORM-CONTROL--DISABLED($class-name) {
    @include font-style($disabled-color);
    @include layout-style($disabled-bg-color, $disabled-border-color);
  }

  @include FORM-CONTROL--DISABLED--PLACEHOLDER($class-name) {
    @include font-style($disabled-placeholder-color);
  }
}
