@use "../_skeletons/label-group" as *;
@use "../_tools/style" as *;

@mixin label-group(
  $class-name,
  $ngb-margin,
  $label-right-margin,
  $label-bottom-margin,
) {
  @include LABEL-GROUP($class-name) {
    margin-bottom: $ngb-margin;
    @include display-style(flex, baseline);
  }

  @include LABEL-GROUP-COMMON($class-name) {
    @include display-style(flex, baseline);
  }

  @include LABEL-GROUP-COLUMN($class-name) {
    @include display-style(flex, baseline, $flex-direction: column);
  }

  @include LABEL-GROUP-COLUMN--LABEL($class-name) {
    margin-bottom: $label-bottom-margin;
  }

  @include LABEL-GROUP-ROW($class-name) {
    @include display-style(flex, baseline, $flex-direction: row);
  }

  @include LABEL-GROUP-ROW--LABEL($class-name) {
    margin-right: $label-right-margin;
  }
}
