@use "../../_tools/style" as *;
@use "./selector" as *;

@mixin form-group(
  $class-name,
  $compensating-margin,
) {
  @include FORM-GROUP($class-name) {
    position: relative;
    z-index: 0;
    @include display(flex);
  }

  @include FORM-GROUP--CHILD($class-name) {
    position: relative;
  }

  @include FORM-GROUP--CHILD--HOVER($class-name) {
    z-index: 1;
  }

  @include FORM-GROUP--CHILD--ACTIVE($class-name) {
    z-index: 3;
  }

  @include FORM-GROUP--CHILD--FOCUS($class-name) {
    z-index: 2;
  }

  @include FORM-GROUP--CHILD--NOT-FIRST($class-name) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-left: -$compensating-margin;
  }

  @include FORM-GROUP--CHILD--NOT-LAST($class-name) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
}
