@use "./_tools/mixin" as *;
@use "./variables" as *;

@include button-toggle(
  $class-name: $button-toggle-class-name,
  $color: $button-toggle-color,
  $bg-color: $button-toggle-bg-color,
  $border-color: $button-toggle-border-color,
  $border-width: $button-toggle-border-width,
  $border-radius: $button-toggle-border-radius,
  $font-family: $button-toggle-font-family,
  $font-size: $button-toggle-font-size,
  $font-weight: $button-toggle-font-weight,
  $line-height: $button-toggle-line-height,
  $vertical-padding: $button-toggle-vertical-padding,
  $horizontal-padding: $button-toggle-horizontal-padding,
  $inner-text-left-padding: $button-toggle-inner-text-left-padding,
  $transition: $button-toggle-transition,
  $icon-size: $button-toggle-icon-size,
  $icon-bg-color: $button-toggle-icon-bg-color,
  $icon-border-color: $button-toggle-icon-border-color,
  $icon-border-width: $button-toggle-icon-border-width,
  $icon-transition: $button-toggle-icon-transition,
  $icon-checked-bg-color: $button-toggle-icon-checked-bg-color,
  $icon-checked-border-color: $button-toggle-icon-checked-border-color,
  $label-line-height: $button-toggle-label-line-height,
  $label-left-padding: $button-toggle-label-left-padding,
  $group-ngb-margin: $button-toggle-group-ngb-margin,
  $disabled-opacity: $button-toggle-disabled-opacity,
  $fieldset-disabled-opacity: $button-toggle-fieldset-disabled-opacity,
);
