@use "sass:color";
@use "../button/variables" as *;
@use "../variables" as *;

$button-toggle-class-name: "btn-toggle" !default;

$button-toggle-icon-size: 1em !default;

$button-toggle-color: $button-color !default;
$button-toggle-font-family: $button-font-family !default;
$button-toggle-font-size: $button-font-size !default;
  $button-toggle-font-size-xs: get-btn-font-size-xs($button-toggle-font-size) !default;
  $button-toggle-font-size-sm: get-btn-font-size-sm($button-toggle-font-size) !default;
  $button-toggle-font-size-md: get-btn-font-size-md($button-toggle-font-size) !default;
  $button-toggle-font-size-lg: get-btn-font-size-lg($button-toggle-font-size) !default;
  $button-toggle-font-size-xl: get-btn-font-size-xl($button-toggle-font-size) !default;
$button-toggle-font-weight: $button-font-weight !default;
$button-toggle-line-height: $button-line-height !default;
$button-toggle-bg-color: $button-bg-color !default;
  $button-toggle-border-color: get-btn-border-color($button-toggle-bg-color) !default;
$button-toggle-border-width: $button-border-width !default;
$button-toggle-border-radius: $button-border-radius !default;
$button-toggle-vertical-padding: $button-vertical-padding !default;
$button-toggle-horizontal-padding: calc($button-toggle-vertical-padding + (1lh - $button-toggle-icon-size) / 2) !default;
$button-toggle-inner-text-left-padding: $button-horizontal-padding !default;
$button-toggle-disabled-opacity: $button-disabled-opacity !default;
$button-toggle-fieldset-disabled-opacity: $button-fieldset-disabled-opacity !default;

$button-toggle-transition-appearance: $button-transition-appearance !default;
  $button-toggle-transition: get-btn-transition($button-transition-appearance) !default;

$button-toggle-icon-bg-color: transparent !default;
$button-toggle-icon-border-color: color.adjust($button-toggle-color, $lightness: 50%) !default;
$button-toggle-icon-border-width: $button-border-width !default;
$button-toggle-icon-checked-bg-color: color.adjust($button-toggle-color, $lightness: 30%) !default;
$button-toggle-icon-checked-border-color: color.adjust($button-toggle-color, $lightness: 15%) !default;

$button-toggle-icon-transition-appearance: $button-toggle-transition-appearance !default;
$button-toggle-icon-transition: $button-toggle-transition !default;

$button-toggle-label-line-height: $line-height !default;
$button-toggle-label-left-padding: $button-horizontal-padding !default;

$button-toggle-group-ngb-margin: 1em !default;
