@use "../../variables" as *;

$btn-toggle-danger-color: $btn-toggle-color !default;
$btn-toggle-danger-bg-color: #f63030 !default;;
$btn-toggle-danger-border-color: $btn-toggle-danger-bg-color !default;
