/*
  Variables we use here:
    $linkColor
    $linkTextDecoration
    $linkHoverColor
    $linkHoverTextDecoration
    $linkFocusColor
    $linkFocusTextDecoration
*/

$btnLinkColor: $linkColor !default;
$btnLinkTextDecoration: $linkTextDecoration !default;
$btnLinkHoverColor: $linkHoverColor !default;
$btnLinkHoverTextDecoration: $linkHoverTextDecoration !default;
$btnLinkFocusColor: $linkFocusColor !default;
$btnLinkFocusTextDecoration: $linkFocusTextDecoration !default;
$btnLinkDisabledColor: $btnLinkColor !default;
$btnLinkDisabledTextDecoration: $btnLinkTextDecoration !default;
$btnLinkDisabledOpacity: 0.5 !default;
