@import '../_mixins/button';


// >>> Base
@include button(
  "btn-control",
  $btn-control-font-family,
  $btn-control-font-size,
  $btn-control-font-weight,
  $btn-control-line-height,
  $btn-control-border-width,
  $btn-control-border-radius,
  $btn-control-vertical-padding,
  $btn-control-horizontal-padding,
  $btn-control-disabled-opacity,
  $btn-control-transition,
  $btn-control-ngb-margin
);
// <<< Base


// >>> Icon base
.btn-control:before {
  content: "";
  opacity: $btn-control-icon-opacity;
  display: table; // Guys, i can't explain why, but it's better round off
  height: 1em;
  width: 1em;
  border: $btn-control-icon-border-width solid $btn-control-icon-border-color;
  background-color: $btn-control-icon-bg-color;
}
// <<< Icon base


// >>> Icon transition
.btn-control:before {
  transition: $btn-control-icon-transition;
}

@media screen and (prefers-reduced-motion: reduce) {
  .btn-control:before {
    transition: none;
  }
}
// <<< Icon transition


// >>> Checked
.btn-control.btn-control--checked {}

.btn-control.btn-control--checked:before {
  opacity: 1;
  background-color: $btn-control-icon-checked-bg-color;
  border-color: $btn-control-icon-checked-border-color;
}
// <<< Checked


// >>> With labels
.btn-control.btn-control--has-label {}

.btn-control.btn-control--has-label:before {
  margin-right: 0.4em;
}
// <<< With labels


// >>> Radio button
.btn-control.btn-control--radio {
  border-radius: calc(#{$btn-control-line-height} / 2 + #{$btn-control-vertical-padding} + #{$btn-control-border-width});
}

.btn-control.btn-control--radio:before {
  border-radius: $btn-control-line-height / 2;
}
// <<< Radio button
