@use "../../_tools/mixin" as *;
@use "./variables" as *;

@include button-variant(
  $class-name: $button-warning-class-name,
  $color: $button-warning-color,
  $bg-color: $button-warning-bg-color,
  $border-color: $button-warning-border-color,
);
