@use "../../../_mixins/button.variant" as *;
@use "./variables" as *;

@include button-variant(
  "btn--warning",
  $color: $btn-warning-color,
  $bg-color: $btn-warning-bg-color,
  $border-color: $btn-warning-border-color,
);
