@use "../../variables" as *;

$button-warning-class-name: "#{$button-class-name}--warning" !default;
$button-warning-color: $button-color !default;
$button-warning-bg-color: #ffc107 !default;
$button-warning-border-color: $button-warning-bg-color !default;
