@import './normalize';


*,
*::before,
*::after {
 box-sizing: border-box;
}


//$base-color: #323442 !default;
//$default-control-color: #edecf1 !default;
//$success-control-color: #28a745 !default;
//$warning-control-color: #212529 !default;
//$danger-control-color: #dc3545 !default;
//$link-color: #007bff !default;


@import './fonts';


@import './variables';
@import './styles';


@import './grid/variables';
@import './grid/styles';


@import './heading/variables';
@import './heading/styles';


@import './link/variables';
@import './link/styles';


@import './link/unstyled-link/variables';
@import './link/unstyled-link/styles';


@import './lists/variables';
@import './lists/styles';


/*
  You should use text.css after list.css cause it overrides some style rules:
    .list/line-height by .text/line-height
*/
@import './text/variables';
@import './text/styles';


/*
  In paragraph.css we redefine some variables:
    $paragraph-margin-top depends on text line height.
 */
$paragraph-margin-top: $text-line-height / 2 !default;

@import './paragraph/variables';
@import './paragraph/styles';


@import './forms/variables';
@import './forms/styles';


/*
  In form-control.css we redefine some variables:
    $form-control-color depends on base color;
    $form-control-bg-color depends on base background color;
    $form-control-border-color depends on base color;
 */
$form-control-color: $color !default;
$form-control-bg-color: $bg-color !default;
$form-control-border-color: lighten($color, 60%) !default;

@import './form-control/variables';
@import './form-control/styles';


@import './form-control/variants/default/variables';
@import './form-control/variants/default/styles';


@import './form-control/variants/error/variables';
@import './form-control/variants/error/styles';


/*
  In buttons.css we redefine some variables:
    $btn-color depends on base color;
    $btn-disabled-opacity depends on form control disabled opacity;
    $btn-transition-appearance depends on form control transition appearance;
    $bnt-transition depends on form control transition.
 */
$btn-color: $color !default;
$btn-disabled-opacity: $form-control-disabled-opacity !default;
$btn-transition-appearance: $form-control-transition-appearance !default;
$btn-transition: $form-control-transition !default;

@import './buttons/variables';
@import './buttons/styles';


@import './buttons/variants/default/variables';
@import './buttons/variants/default/styles';


@import './buttons/variants/success/variables';
@import './buttons/variants/success/styles';


@import './buttons/variants/warning/variables';
@import './buttons/variants/warning/styles';


@import './buttons/variants/danger/variables';
@import './buttons/variants/danger/styles';


@import './buttons/unstyled-button/variables';
@import './buttons/unstyled-button/styles';


@import './buttons/button-group/variables';
@import './buttons/button-group/styles';


/*
  In button-control.css we redefine some variables:
    $btn-control-color depends on button color;
    $btn-control-bg-color depends on button background color;
    $btn-control-border-width depends on button border width;
    $btn-control-border-radius depends on button border radius;
    $btn-control-disabled-opacity depends on disabled buton opacity;
    $btn-control-transition-appearance depends on button transition apprearance;
    $btn-control-transition depends on button transition;
    $btn-control-error-border-color depends on error form control border color.
 */
$btn-control-color: $btn-color !default;
$btn-control-bg-color: $btn-bg-color !default;
$btn-control-border-width: $btn-border-width !default;
$btn-control-border-radius: $btn-border-radius !default;
$btn-control-disabled-opacity: $btn-disabled-opacity !default;
$btn-control-transition-appearance: $btn-transition-appearance !default;
$btn-control-transition: $btn-transition !default;
$btn-control-error-border-color: $form-control-error-border-color !default;

@import './button-control/variables';
@import './button-control/styles';


@import './button-control/variants/default/variables';
@import './button-control/variants/default/styles';


@import './button-control/variants/error/variables';
@import './button-control/variants/error/styles';


/*
  In button-link.css we redefine some variables:
    $btn-link-color depends on link color;
    $btn-link-text-decoration depends on link text decoration;
    $btn-link-hover-text-decoration depends on hover link text decoration;
    $btn-link-focus-text-decoration depends on focus link text decoration;
    $btn-link-active-text-decoration depends on active link text decoration;
    $btn-link-disabled-text-decoration depends on disabled link text decoration.
 */
$btn-link-color: $link-color !default;
$btn-link-text-decoration: $link-text-decoration !default;
$btn-link-hover-text-decoration: $link-hover-text-decoration !default;
$btn-link-focus-text-decoration: $link-focus-text-decoration !default;
$btn-link-active-text-decoration: $link-active-text-decoration !default;
$btn-link-disabled-text-decoration: $btn-link-text-decoration !default;

@import './button-link/variables';
@import './button-link/styles';
