$btnWarningColor: #212529 !default;
$btnWarningBgColor: #ffc107 !default;
$btnWarningBorderColor: $btnWarningBgColor !default;
$btnWarningHoverColor: $btnWarningColor !default;
$btnWarningHoverBgColor: darken($btnWarningBgColor, 7.5%) !default;
$btnWarningHoverBorderColor: darken($btnWarningBorderColor, 10%) !default;
$btnWarningFocusColor: $btnWarningColor !default;
$btnWarningFocusBgColor: darken($btnWarningBgColor, 10%) !default;
$btnWarningFocusBorderColor: darken($btnWarningBorderColor, 12.5%) !default;
$btnWarningFocusBoxShadow: 0 0 0 0.2em rgba($btnWarningBorderColor, 0.5) !default;
$btnWarningActiveColor: $btnWarningColor !default;
$btnWarningActiveBgColor: darken($btnWarningBgColor, 10%) !default;
$btnWarningActiveBorderColor: darken($btnWarningBorderColor, 12.5%) !default;
$btnWarningActiveBoxShadow: 0 0 0 0.2em rgba($btnWarningBorderColor, 0.5) !default;
$btnWarningDisabledColor: $btnWarningColor !default;
$btnWarningDisabledBgColor: $btnWarningBgColor !default;
$btnWarningDisabledBorderColor: $btnWarningBorderColor !default;
