.code {
  margin: $codeMargin;
  padding: $codePadding;
  display: inline-block;
  border: 1px solid $codeBorderColor;
  border-radius: $codeBorderRadius;
  background-color: $codeBgColor;
  line-height: $codeLineHeight;
  font-family: $codeFontFamily;
  font-size: $codeFontSize;
  color: $codeColor;
}
