.preformattedText {
  overflow: auto;
  margin-top: 0;
  margin-bottom: 0;
  line-height: $preformattedLineHeight;
  font-family: $preformattedFontFamily;
  font-size: $preformattedFontSize;
  color: $preformattedColor;
}

.code {
  padding: $codePadding;
  display: inline-block;
  border: 1px solid $codeBorderColor;
  background-color: $codeBgColor;
  line-height: $codeLineHeight;
  font-family: $codeFontFamily;
  font-size: $codeFontSize;
  color: $codeColor;
}
