.pre,
.code {
  font-family: monospace;
  font-size: inherit;
}

.pre {
  margin-top: 0;
  margin-bottom: 1em; // TODO Should use paragraph margin variable
  overflow: auto;
}

.code {
  color: #e83e8c;
}
