$preformattedFontFamily: monospace !default;
$preformattedFontSize: inherit !default;
$preformattedColor: inherit !default;
$preformattedLineHeight: 1.2em !default;
$codeFontFamily: $preformattedFontFamily !default;
$codeFontSize: $preformattedFontSize !default;
$codeColor: #b55959 !default;
$codeBorderColor: #b5595914;
$codeBgColor: #b559590a;
$codeLineHeight: 1.4em !default;
$codePadding: 0 0.2em !default;
