$codeFontFamily: "Roboto Mono" !default;
$codeFontSize: inherit !default;
$codeLineHeight: inherit !default;
$codeColor: #007bff !default;
$codeBorderColor: transparentize($codeColor, 0.94);
$codeBorderRadius: 0.1em !default;
$codeBgColor: transparentize($codeColor, 0.94);
$codeMargin: 0.1em 0 !default;
$codePadding: 0 0.2em !default;
