@use "./_tools/mixin" as *;
@use "./variables" as *;

@include button(
  $class-name: $button-class-name,
  $color: $button-color,
  $bg-color: $button-bg-color,
  $border-color: $button-border-color,
  $border-width: $button-border-width,
  $border-radius: $button-border-radius,
  $font-family: $button-font-family,
  $font-size: $button-font-size,
  $font-weight: $button-font-weight,
  $line-height: $button-line-height,
  $vertical-padding: $button-vertical-padding,
  $horizontal-padding: $button-horizontal-padding,
  $transition: $button-transition,
  $disabled-opacity: $button-disabled-opacity,
  $fieldset-disabled-opacity: $button-fieldset-disabled-opacity,
);

@include button-size(
  $class-name: $button-xs-class-name,
  $font-size: $button-font-size-xs,
);

@include button-size(
  $class-name: $button-sm-class-name,
  $font-size: $button-font-size-sm,
);

@include button-size(
  $class-name: $button-md-class-name,
  $font-size: $button-font-size,
);

@include button-size(
  $class-name: $button-lg-class-name,
  $font-size: $button-font-size-lg,
);

@include button-size(
  $class-name: $button-xl-class-name,
  $font-size: $button-font-size-xl,
);
