@use '../_mixins/button' as *;
@use '../_mixins/button-variant' as *;
@use '../_mixins/button-size' as *;
@use './variables' as *;

@include button(
  "btn",
  $font-family: $btn-font-family,
  $font-size: $btn-font-size,
  $font-weight: $btn-font-weight,
  $line-height: $btn-line-height,
  $border-width: $btn-border-width,
  $border-radius: $btn-border-radius,
  $vertical-padding: $btn-vertical-padding,
  $horizontal-padding: $btn-horizontal-padding,
  $disabled-opacity: $btn-disabled-opacity,
  $transition: $btn-transition,
);

@include button-variant(
  "btn",
  "btn",
  $color: $btn-color,
  $bg-color: $btn-bg-color,
  $border-color: $btn-border-color
);

@include button-size(
  "btn",
  $font-size-xs: $btn-font-size-xs,
  $font-size-sm: $btn-font-size-sm,
  $font-size-md: $btn-font-size,
  $font-size-lg: $btn-font-size-lg,
  $font-size-xl: $btn-font-size-xl
);
