@use "../_tools/smart-round" as *;
@use "./_tools/get-default" as *;
@use "../variables" as *;

$button-class-name: "btn" !default;
$button-color: $color !default;
$button-font-family: inherit !default;
$button-font-size: 1em !default;
  $button-font-size-xs:  get-default-font-size-xs($button-font-size) !default;
  $button-font-size-sm:  get-default-font-size-sm($button-font-size) !default;
  $button-font-size-md:  get-default-font-size-md($button-font-size) !default;
  $button-font-size-lg:  get-default-font-size-lg($button-font-size) !default;
  $button-font-size-xl:  get-default-font-size-xl($button-font-size) !default;
$button-font-weight: inherit !default;
$button-line-height: $line-height !default;
$button-bg-color: #e3e4ea !default;
  $button-border-color:  get-default-border-color($button-bg-color) !default;
$button-border-width: 2px !default;
$button-border-radius: 0.15em !default;
$button-vertical-padding: 0.375em !default;
$button-horizontal-padding: 0.575em !default;
$button-disabled-opacity: 0.5 !default;
$button-fieldset-disabled-opacity: 1 !default;

$button-transition-appearance: 0.15s ease-in-out !default;
  $button-transition:  get-default-transition($button-transition-appearance) !default;


$button-xs-class-name: "#{$button-class-name}--xs" !default;
$button-sm-class-name: "#{$button-class-name}--sm" !default;
$button-md-class-name: "#{$button-class-name}--md" !default;
$button-lg-class-name: "#{$button-class-name}--lg" !default;
$button-xl-class-name: "#{$button-class-name}--xl" !default;
