@use "sass:list";
@use "sass:meta";
@use "sass:selector";

@function expand-selector(
  $selector,
) {
  @if $selector == --ANY {
    @return "*";
  }
  @else if $selector == --SELF {
    @return "&";
  }
  @else if $selector == --HOVER {
    @return ":hover";
  }
  @else if $selector == --ACTIVE {
    @return ":active";
  }
  @else if $selector == --FOCUS {
    @return ":focus";
  }
  @else if $selector == --DISABLED {
    @return ":disabled";
  }
  @else if $selector == --READONLY {
    @return "[readonly]";
  }
  @else if $selector == --CHECKED {
    @return ":checked";
  }
  @else if $selector == --VISITED {
    @return ":visited";
  }
  @else if $selector == --FIRST-CHILD {
    @return ":first-child";
  }
  @else if $selector == --LAST-CHILD {
    @return ":last-child";
  }
  @else if $selector == --FIRST-OF-TYPE {
    @return ":first-of-type";
  }
  @else if $selector == --LAST-OF-TYPE {
    @return ":last-of-type";
  }
  @else {
    @return $selector;
  }
}

@function to-string(
  $list,
  $glue: "",
) {
  $result: "";

  @for $i from 1 through list.length($list) {
    $e: list.nth($list, $i);

    @if meta.type-of($e) == "list" {
      $result: "#{$result}#{to-string($e, $glue)}";
    } @else {
      $result: "#{$result}#{expand-selector($e)}";
    }

    @if ($i != list.length($list)) {
      $result: "#{$result}#{$glue}";
    }
  }

  @return $result;
}

@function get-nest-selectors(
  $selectors...
) {
  $nest-selectors: ();

  @for $i from 1 through list.length($selectors) {
    $selector: list.nth($selectors, $i);

    @if meta.type-of($selector) == "list" {
      $nest-selectors: list.append($nest-selectors, #{to-string($selector, $glue: ", ")});
    }
    @else if meta.type-of($selector) == "function" {
      $nest-selectors: list.append($nest-selectors, meta.call($selector));
    }
    @else {
      $nest-selectors: list.append($nest-selectors, expand-selector($selector));
    }
  }

  @return $nest-selectors;
}

@mixin use(
  $selectors...
) {
  $nest-selectors: get-nest-selectors($selectors...);
  @if & {
    @at-root {
      #{selector.nest(&, $nest-selectors...)} {
        @content;
      }
    }
  }
  @else {
    #{selector.nest($nest-selectors...)} {
      @content;
    }
  }
}

@mixin use-before() {
  &::before {
    @content;
  }
}

@mixin use-after() {
  &::after {
    @content;
  }
}

@mixin use-placeholder() {
  &::placeholder {
    @content;
  }
}

@mixin exactly(
  $selectors...
) {
  $nest-selectors: get-nest-selectors($selectors...);
  @at-root {
    #{selector.nest(&, $nest-selectors...)} {
      @content;
    }
  }
}

@function that-is(
  $selectors...
) {
  $nest-selectors: get-nest-selectors($selectors...);
  @return "&#{selector.nest($nest-selectors...)}";
}

@function that-is-not(
  $selectors...
) {
  $nest-selectors: get-nest-selectors($selectors...);
  @return "&:not(#{selector.nest($nest-selectors...)})";
}

@function that-is-inside(
  $selectors...
) {
  $nest-selectors: get-nest-selectors($selectors...);
  @return "#{selector.nest($nest-selectors...)} &";
}

@function that-is-child-of(
  $selectors...
) {
  $nest-selectors: get-nest-selectors($selectors...);
  @return "#{selector.nest($nest-selectors...)} > &";
}

@function that-is-subsequent-to(
  $selectors...
) {
  $nest-selectors: get-nest-selectors($selectors...);
  @return "#{selector.nest($nest-selectors...)} ~ &";
}

@function that-has(
  $selectors...
) {
  $nest-selectors: get-nest-selectors($selectors...);
  @return "&:has(#{selector.nest($nest-selectors...)})";
}

@function that-has-not(
  $selectors...
) {
  $nest-selectors: get-nest-selectors($selectors...);
  @return "&:not(:has(#{selector.nest($nest-selectors...)}))";
}
