// -- STYLES -- //

@mixin display-style(
  $display,
  $align-items: --UNDEFINED,
  $justify-content: --UNDEFINED,
  $flex-direction: --UNDEFINED,
) {
  display: $display;

  @if $display == flex {
    @if $align-items != --UNDEFINED {
      align-items: $align-items;
    }
    @if $justify-content != --UNDEFINED {
      justify-content: $justify-content;
    }
    @if $flex-direction != --UNDEFINED {
      flex-direction: $flex-direction;
    }
  }
}

@mixin size-style(
  $width: --UNDEFINED,
  $height: --UNDEFINED,
) {
  @if $width != --UNDEFINED {
    width: $width;
  }
  @if $height != --UNDEFINED {
    height: $height;
  }
}

@mixin font-style(
  $color,
  $font-size: --UNDEFINED,
  $font-weight: --UNDEFINED,
  $font-family: --UNDEFINED,
  $line-height: --UNDEFINED,
  $text-decoration: --UNDEFINED,
  $text-align: --UNDEFINED,
  $white-space: --UNDEFINED,
) {
  @if $color != --UNDEFINED {
    color: $color;
  }
  @if $font-family != --UNDEFINED {
    font-family: $font-family;
  }
  @if $font-size != --UNDEFINED {
    font-size: $font-size;
  }
  @if $font-weight != --UNDEFINED {
    font-weight: $font-weight;
  }
  @if $line-height != --UNDEFINED {
    line-height: $line-height;
  }
  @if $text-decoration != --UNDEFINED {
    text-decoration: $text-decoration;
  }
  @if $text-align != --UNDEFINED {
    text-align: $text-align;
  }
  @if $white-space != --UNDEFINED {
    white-space: $white-space;
  }
}

@mixin layout-style(
  $bg-color,
  $border-color,
  $border-width: --UNDEFINED,
  $border-style: --UNDEFINED,
  $border-radius: --UNDEFINED,
  $box-shadow: --UNDEFINED,
  $opacity: --UNDEFINED,
) {
  @if $bg-color != --UNDEFINED {
    background-color: $bg-color;
  }
  @if $border-color != --UNDEFINED {
    border-color: $border-color;
  }
  @if $border-width != --UNDEFINED {
    border-width: $border-width;
  }
  @if $border-style != --UNDEFINED {
    border-style: $border-style;
  }
  @if $border-radius != --UNDEFINED {
    border-radius: $border-radius;
  }
  @if $box-shadow != --UNDEFINED {
    box-shadow: $box-shadow;
  }
  @if $opacity != --UNDEFINED {
    opacity: $opacity;
  }
}

@mixin margin-style(
  $vertical-margin,
  $horizontal-margin,
) {
  padding: $vertical-margin $horizontal-margin;
}

@mixin padding-style(
  $vertical-padding,
  $horizontal-padding,
) {
  padding: $vertical-padding $horizontal-padding;
}

@mixin cursor-style(
  $cursor: --UNDEFINED,
  $pointer-events: --UNDEFINED,
  $user-select: --UNDEFINED,
) {
  @if $cursor != --UNDEFINED {
    cursor: $cursor;
  }
  @if $pointer-events != --UNDEFINED {
    pointer-events: $pointer-events;
  }
  @if $user-select != --UNDEFINED {
    user-select: $user-select;
  }
}

@mixin transition-style(
  $transition,
) {
  transition: $transition;

  @media screen and (prefers-reduced-motion: reduce) {
    & {
      transition: none;
    }
  }
}
