// -- STYLES -- //

@mixin display(
  $display,
  $align-items: --U,
  $justify-content: --U,
  $flex-direction: --U,
) {
  display: $display;

  @if $display == flex {
    @if $align-items != --U {
      align-items: $align-items;
    }
    @if $justify-content != --U {
      justify-content: $justify-content;
    }
    @if $flex-direction != --U {
      flex-direction: $flex-direction;
    }
  }
}

@mixin size(
  $width: --U,
  $height: --U,
) {
  @if $width != --U {
    width: $width;
  }
  @if $height != --U {
    height: $height;
  }
}

@mixin text(
  $color,
  $font-size,
  $font-weight: --U,
  $font-family: --U,
  $line-height: --U,
  $text-decoration: --U,
  $text-align: --U,
  $white-space: --U,
) {
  @if $color != --U {
    color: $color;
  }
  @if $font-family != --U {
    font-family: $font-family;
  }
  @if $font-size != --U {
    font-size: $font-size;
  }
  @if $font-weight != --U {
    font-weight: $font-weight;
  }
  @if $line-height != --U {
    line-height: $line-height;
  }
  @if $text-decoration != --U {
    text-decoration: $text-decoration;
  }
  @if $text-align != --U {
    text-align: $text-align;
  }
  @if $white-space != --U {
    white-space: $white-space;
  }
}

@mixin shape(
  $bg-color,
  $border-color,
  $border-width: --U,
  $border-style: --U,
  $border-radius: --U,
  $box-shadow: --U,
  $opacity: --U,
) {
  @if $bg-color != --U {
    background-color: $bg-color;
  }
  @if $border-color != --U {
    border-color: $border-color;
  }
  @if $border-width != --U {
    border-width: $border-width;
  }
  @if $border-style != --U {
    border-style: $border-style;
  }
  @if $border-radius != --U {
    border-radius: $border-radius;
  }
  @if $box-shadow != --U {
    box-shadow: $box-shadow;
  }
  @if $opacity != --U {
    opacity: $opacity;
  }
}

@mixin margin(
  $vertical-margin,
  $horizontal-margin,
) {
  margin: $vertical-margin $horizontal-margin;
}

@mixin padding(
  $vertical-padding,
  $horizontal-padding,
) {
  padding: $vertical-padding $horizontal-padding;
}

@mixin cursor(
  $cursor: --U,
  $pointer-events: --U,
  $user-select: --U,
) {
  @if $cursor != --U {
    cursor: $cursor;
  }
  @if $pointer-events != --U {
    pointer-events: $pointer-events;
  }
  @if $user-select != --U {
    user-select: $user-select;
  }
}

@mixin transition(
  $transition,
) {
  transition: $transition;

  @media screen and (prefers-reduced-motion: reduce) {
    & {
      transition: none;
    }
  }
}
