@use "../_mixins/button-link" as *;
@use "./variables" as *;

@include button-link(
  "btn-link",
  $color: $btn-link-color,
  $text-decoration: $btn-link-text-decoration,
  $hover-color: $btn-link-hover-color,
  $hover-text-decoration: $btn-link-hover-text-decoration,
  $focus-color: $btn-link-focus-color,
  $focus-text-decoration: $btn-link-focus-text-decoration,
  $active-color: $btn-link-active-color,
  $active-text-decoration: $btn-link-active-text-decoration,
  $disabled-color: $btn-link-disabled-color,
  $disabled-text-decoration: $btn-link-disabled-text-decoration,
  $disabled-opacity: $btn-link-disabled-opacity,
)
