.btnLink {
  display: inline;
  padding: 0;
  line-height: inherit;
  text-decoration: $btnLinkTextDecoration;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: $btnLinkColor;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btnLink:hover {
  color: $btnLinkHoverColor;
  text-decoration: $btnLinkHoverTextDecoration;
}

.btnLink:focus,
.btnLink.btn--focus {
  color: $btnLinkFocusColor;
  text-decoration: $btnLinkFocusTextDecoration;
  outline: none;
}

.btnLink:active,
.btnLink.btn--active {
  color: $btnLinkActiveColor;
  text-decoration: $btnLinkActiveTextDecoration;
}

.btnLink:disabled,
.btnLink.btn--disabled,
fieldset:disabled .btnLink {
  color: $btnLinkDisabledColor;
  text-decoration: $btnLinkDisabledTextDecoration;
  opacity: $btnLinkDisabledOpacity;
  cursor: default;
  pointer-events: none;
}
