$btn-link-color: #007bff !default;
$btn-link-text-decoration: none !default;
$btn-link-hover-color: $btn-link-color !default;
$btn-link-hover-text-decoration: underline !default;
$btn-link-focus-color: $btn-link-color !default;
$btn-link-focus-text-decoration: underline !default;
$btn-link-active-color: $btn-link-color !default;
$btn-link-active-text-decoration: underline !default;
$btn-link-disabled-color: $btn-link-color !default;
$btn-link-disabled-text-decoration: $btn-link-text-decoration !default;
$btn-link-disabled-opacity: 0.5 !default;
