$btnLinkColor: #007bff !default;
$btnLinkTextDecoration: none !default;
$btnLinkHoverColor: $btnLinkColor !default;
$btnLinkHoverTextDecoration: underline !default;
$btnLinkFocusColor: $btnLinkColor !default;
$btnLinkFocusTextDecoration: underline !default;
$btnLinkActiveColor: $btnLinkColor !default;
$btnLinkActiveTextDecoration: underline !default;
$btnLinkDisabledColor: $btnLinkColor !default;
$btnLinkDisabledTextDecoration: $btnLinkTextDecoration !default;
$btnLinkDisabledOpacity: 0.5 !default;
