$btnWarningColor: #212529 !default;
$btnWarningBgColor: #ffc107 !default;
$btnWarningBorderColor: $btnWarningBgColor !default;
$btnWarningHoverColor: $btnWarningColor !default;
$btnWarningHoverBgColor: darken($btnWarningBgColor, 5%) !default;
$btnWarningHoverBorderColor: darken($btnWarningHoverBgColor, 2.5%) !default;
$btnWarningFocusColor: $btnWarningColor !default;
$btnWarningFocusBgColor: darken($btnWarningBgColor, 5%) !default;
$btnWarningFocusBorderColor: darken($btnWarningFocusBgColor, 2.5%) !default;
$btnWarningFocusBoxShadow: 0 0 0 0.2em rgba($btnWarningFocusBorderColor, 0.5) !default;
$btnWarningActiveColor: $btnWarningColor !default;
$btnWarningActiveBgColor: darken($btnWarningBgColor, 5%) !default;
$btnWarningActiveBorderColor: darken($btnWarningFocusBgColor, 2.5%) !default;
$btnWarningDisabledColor: $btnWarningColor !default;
$btnWarningDisabledBgColor: $btnWarningBgColor !default;
$btnWarningDisabledBorderColor: $btnWarningBorderColor !default;
