$base_fontFamily: Arial;
$base_fontSize: 0.8rem;
$base_color: #212529;
$base_lineHeight: 1.5;
$base_bgColor: #fff;

$base_transitionAppearance: 0.15s ease-in-out;

$base_linkColor:#007bff;

$base_controlBgColor: #fff;
$base_controlBorderColor: #e5e3ea;
$base_controlBorderRadius: 0.2em;

