/*
  Variables we use here:
*/

.btnControl {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: $btnControlPadding;
  line-height: $btnControlLineHeight;
  font-family: $btnControlFontFamily;
  font-size: $btnControlFontSize;
  font-weight: $btnControlFontWeight;
  text-align: center;
  color: $btnControlColor;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: $btnControlBorderWidth solid $btnControlBorderColor;
  border-radius: 0;
  background-color: $btnControlBgColor;
  cursor: pointer;
}

.btnControl:before {
  content: " ";
  opacity: $btnControlIconOpacity;
  display: table; // Guys, i can't explain why, but it's better round off
  height: 1em;
  width: 1em;
  border: $btnControlIconBorderWidth solid $btnControlIconBorderColor;
  background-color: $btnControlIconBgColor;
}

.btnControl:hover {
  color: $btnControlHoverColor;
  background-color: $btnControlHoverBgColor;
  border-color: $btnControlHoverBorderColor;
}

.btnControl:hover:before {}

.btnControl:focus,
.btnControl.btnControl--focus  {
  color: $btnControlFocusColor;
  background-color: $btnControlFocusBgColor;
  border-color: $btnControlFocusBorderColor;
  box-shadow: $btnControlFocusBoxShadow;
  outline: none;
}

.btnControl:focus:before,
.btnControl.btnControl--focus:before {}

.btnControl:active,
.btnControl.btnControl--active {
  color: $btnControlActiveColor;
  background-color: $btnControlActiveBgColor;
  border-color: $btnControlActiveBorderColor;
  box-shadow: $btnControlActiveBoxShadow;
}

.btnControl:active:before,
.btnControl.btnControl--active:before {}

.btnControl:disabled,
.btnControl.btnControl--disabled,
fieldset:disabled .btnControl {
  opacity: $btnControlDisabledOpacity;
  color: $btnControlDisabledColor;
  background-color: $btnControlDisabledBgColor;
  border-color: $btnControlDisabledBorderColor;
  box-shadow: none;
  cursor: default;
  pointer-events: none;
}

.btnControl:disabled:before,
.btnControl.btnControl--disabled:before,
fieldset:disabled .btnControl:before {}

.btnControl.btnControl--checked {}

.btnControl.btnControl--checked:before {
  opacity: 1;
  background-color: $btnControlIconCheckedBgColor;
  border-color: $btnControlIconCheckedBorderColor;
}

.btnControl.btnControl--radio {
  border-radius: calc(#{$btnControlLineHeight}em + #{$btnControlPadding} / 2);
}

.btnControl.btnControl--radio:before {
  border-radius: calc(#{$btnControlLineHeight}em / 2);
}

.btnControl.btnControl--hasLabel:before {
  margin-right: 0.4em;
}

.btnControl--xs {
  font-size: $btnControlFontSize-xs;
}

.btnControl--sm {
  font-size: $btnControlFontSize-sm;
}

.btnControl--lg {
  font-size: $btnControlFontSize-lg;
}

.btnControl--xl {
  font-size: $btnControlFontSize-xl;
}

.btnControl + .btnControl {
  margin-left: $btnControlNgbMargin;
}

.btnControl {
  transition: $btnControlTransition;
}

.btnControl:before {
  transition: $btnControlIconTransition;
}

@media screen and (prefers-reduced-motion: reduce) {
  .btnControl {
    transition: none;
  }

  .btnControl:before {
    transition: none;
  }
}
