$btnControlFontFamily: inherit !default;
$btnControlFontSize: inherit !default;
$btnControlFontWeight: inherit !default;
$btnControlLineHeight: 1 !default;
$btnControlPadding: 0.375em !default;

$btnControlColor: #585467 !default;
$btnControlBgColor: #edecf1 !default;
$btnControlBorderColor: $btnControlBgColor !default;
$btnControlBorderWidth: 1px !default;

$btnControlHoverColor: $btnControlColor !default;
$btnControlHoverBgColor: darken($btnControlBgColor, 5%) !default;
$btnControlHoverBorderColor: darken($btnControlHoverBgColor, 2.5%) !default;

$btnControlFocusColor: $btnControlColor !default;
$btnControlFocusBgColor: darken($btnControlBgColor, 5%) !default;
$btnControlFocusBorderColor: darken($btnControlFocusBgColor, 2.5%) !default;
$btnControlFocusBoxShadow: 0 0 0 0.2em rgba($btnControlFocusBorderColor, 0.5) !default;

$btnControlActiveColor: $btnControlColor !default;
$btnControlActiveBgColor: darken($btnControlBgColor, 5%) !default;
$btnControlActiveBorderColor: darken($btnControlFocusBgColor, 2.5%) !default;

$btnControlDisabledColor: $btnControlColor !default;
$btnControlDisabledBgColor: $btnControlBgColor !default;
$btnControlDisabledBorderColor: $btnControlBorderColor !default;
$btnControlDisabledOpacity: 0.5 !default;

$btnControlTransitionAppearance: 0.15s ease-in-out !default;
$btnControlTransition:
  color $btnControlTransitionAppearance,
  background-color $btnControlTransitionAppearance,
  border-color $btnControlTransitionAppearance,
  box-shadow $btnControlTransitionAppearance !default;
$btnControlNgbMargin: 1em !default;

$btnControlIconOpacity: 0.2;
$btnControlIconBgColor: transparent !default;
$btnControlIconBorderColor: currentColor !default;
$btnControlIconBorderWidth: 1px !default;

$btnControlIconCheckedBgColor: currentColor !default;
$btnControlIconCheckedBorderColor: currentColor !default;

$btnControlIconTransition: $btnControlTransition;
