@use "../_mixins/form" as *;
@use "./variables" as *;

@include form(
  "form",
  $fieldset-disabled-opacity: $form-fieldset-disabled-opacity,
  $label-font-size: $form-label-font-size,
  $label-line-height: $form-label-line-height,
);
