$form-class-name: "form" !default;
$form-label-font-size: inherit !default;
$form-label-line-height: 1.2em !default;
$form-label-disabled-opacity: 0.5 !default;
$form-label-fieldset-disabled-opacity: 1 !default;
$form-fieldset-disabled-opacity: 0.5 !default;
