@use "../../_tools/mixin" as *;
@use "./variables" as *;

@include form-control-variant(
  $class-name: $form-control-error-class-name,
  $color: $form-control-error-color,
  $bg-color: $form-control-error-bg-color,
  $border-color: $form-control-error-border-color,
);
