@use '../../../_mixins/form-control-variant' as *;
@use './variables' as *;

@include form-control-variant(
  "form-control",
  "form-control--error",
  $color: $form-control-error-color,
  $bg-color: $form-control-error-bg-color,
  $border-color: $form-control-error-border-color,
);
