$font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-size-base: 1rem;
$font-weight-base: 400;
$line-height-base: 1.5;
$color-base: #4c4d5d;
$body-bg: #fff;
$headings-margin-bottom: 0.5em;
$paragraph-margin-bottom: 1em;
