$btn-success-color: #fff;
$btn-success-bg-color: #28a745;
$btn-success-border-color: $btn-success-bg-color;

$btn-warning-color: #212529;
$btn-warning-bg-color: #ffc107;
$btn-warning-border-color: $btn-warning-bg-color;

$btn-danger-color: #fff;
$btn-danger-bg-color: #dc3545;
$btn-danger-border-color: $btn-danger-bg-color;
