/*
  Variables we use here:
    $base_fontSize
    $base_transitionAppearance
*/

$btnFontFamily: inherit;
$btnFontSize: $base_fontSize * 1.2;
$btnFontSize--sm: $base_fontSize;
$btnFontSize--lg: $base_fontSize * 1.4;
$btnFontSize--xl: $base_fontSize * 1.6;
$btnFontWeight: inherit;
$btnLineHeight: 1.5em;
$btnColor: #585467;
$btnBgColor: #edecf1;
$btnBorderColor: $btnBgColor;
$btnBorderWidth: 1px;
$btnBorderRadius: 0.15em;
$btnDisabledOpacity: 0.5;
$btnVerticalPadding: 0.375em;
$btnHorizontalPadding: 0.75em;
$btnTransition:
    color $base_transitionAppearance,
    background-color $base_transitionAppearance,
    border-color $base_transitionAppearance,
    box-shadow $base_transitionAppearance;
$btnNgbMargin: 1em;
