/*
  Variables we use here:
    $btnFontFamily
    $btnFontSize
    $btnFontSize--sm
    $btnFontSize--lg
    $btnFontSize--xl
    $btnFontWeight
    $btnLineHeight
    $btnColor
    $btnBgColor
    $btnBorderColor
    $btnBorderWidth
    $btnBorderRadius
    $btnDisabledOpacity
    $btnVerticalPadding
    $btnHorizontalPadding
    $btnTransition
    $btnNgbMargin
*/

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: $btnFontFamily;
  font-size: $btnFontSize;
  font-weight: $btnFontWeight;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: $btnBorderWidth solid transparent;
  padding: $btnVerticalPadding $btnHorizontalPadding;
  line-height: $btnLineHeight;
  border-radius: $btnBorderRadius;
  cursor: pointer;
  transition: $btnTransition;
}

@media screen and (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}

.btn:hover {
  text-decoration: none;
}

.btn:focus {
  outline: none;
}

.btn:disabled {
  opacity: $btnDisabledOpacity;
  cursor: default;
}

.btn {
  @include button-common-variant($btnColor, $btnBgColor, $btnBorderColor);
}

.btn--sm {
  font-size: $btnFontSize--sm;
}

.btn--lg {
  font-size: $btnFontSize--lg;
}

.btn--xl {
  font-size: $btnFontSize--xl;
}

.btn--unstyled {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  border: none;
  padding: 0;
  line-height: inherit;
  border-radius: 0;
  transition: none;
}

.btn--unstyled,
.btn--unstyled:hover,
.btn--unstyled:focus,
.btn--unstyled:active {
  color: inherit;
  background-color: transparent;
  box-shadow: none;
}

.btn--unstyled:disabled {
  opacity: 1;
}

.btn + .btn {
  margin-left: $btnNgbMargin;
}
