/*
  Variables we use here:
    $btnLinkColor
    $btnLinkDecoration
    $btnLinkHoverColor
    $btnLinkHoverDecoration
    $btnLinkFocusColor
    $btnLinkFocusDecoration
    $btnLinkDisabledColor
    $btnLinkDisabledDecoration
    $btnLinkDisabledOpacity
    $btnLinkNgbMargin
*/

.btnLink {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  line-height: inherit;
  font-weight: inherit;
  font-size: inherit;
  border: none;
  color: $btnLinkColor;
  text-decoration: $btnLinkDecoration;
  background-color: transparent;
  cursor: pointer;
  transition: none;
}

.btnLink:hover {
  color: $btnLinkHoverColor;
  text-decoration: $btnLinkHoverDecoration;
  background-color: transparent;
  border: none;
}

.btnLink:focus {
  color: $btnLinkFocusColor;
  text-decoration: $btnLinkFocusDecoration;
  background-color: transparent;
  border: none;
  outline: none;
}

.btnLink:disabled {
  color: $btnLinkDisabledColor;
  text-decoration: $btnLinkDisabledDecoration;
  opacity: $btnLinkDisabledOpacity;
  cursor: default;
}
