$btnSuccessColor: #fff;
$btnSuccessBgColor: #28a745;
$btnSuccessBorderColor: $btnSuccessBgColor;
$btnWarningColor: #212529;
$btnWarningBgColor: #ffc107;
$btnWarningBorderColor: $btnWarningBgColor;
$btnDangerColor: #fff;
$btnDangerBgColor: #dc3545;
$btnDangerBorderColor: $btnDangerBgColor;
