$btn-font-size: 1.2em;
$btn-font-size-sm: 1em;
$btn-font-size-lg: 1.43em;

$btn-disabled-opacity: 0.5;

$btn-color: #585467;
$btn-bg-color: #edecf1;
$btn-border-color: $btn-bg-color;

$btn-ngb-margin: 1em;
