/*
  Variables we use here
    $base_linkColor
    $base_controlDisabledOpacity
*/

$btnLinkColor: $base_linkColor;
$btnLinkDecoration: none;
$btnLinkHoverColor: $btnLinkColor;
$btnLinkHoverDecoration: none;
$btnLinkFocusColor: $btnLinkColor;
$btnLinkFocusDecoration: underline;
$btnLinkDisabledColor: $btnLinkColor;
$btnLinkDisabledDecoration: $btnLinkDecoration;
$btnLinkDisabledOpacity: $base_controlDisabledOpacity;
