/*
  Variables we use here:
    $btnFontFamily
    $btnFontSize
    $btnFontSize-xs
    $btnFontSize-sm
    $btnFontSize-lg
    $btnFontSize-xl
    $btnFontWeight
    $btnLineHeight
    $btnBorderWidth
    $btnBorderRadius
    $btnDisabledOpacity
    $btnVerticalPadding
    $btnHorizontalPadding
    $btnTransition
    $btnNgbMargin
*/

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: $btnFontFamily;
  font-size: $btnFontSize;
  font-weight: $btnFontWeight;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: $btnBorderWidth solid transparent;
  padding: $btnVerticalPadding $btnHorizontalPadding;
  line-height: $btnLineHeight;
  border-radius: $btnBorderRadius;
  cursor: pointer;
  transition: $btnTransition;
}

@media screen and (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}

.btn:focus {
  outline: none;
}

.btn--xs {
  font-size: $btnFontSize-xs;
}

.btn--sm {
  font-size: $btnFontSize-sm;
}

.btn--lg {
  font-size: $btnFontSize-lg;
}

.btn--xl {
  font-size: $btnFontSize-xl;
}

.btn + .btn {
  margin-left: $btnNgbMargin;
}
