@import '../_mixins/button-variant';

// >>> Base
.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: $btnFontFamily;
  font-size: $btnFontSize;
  font-weight: $btnFontWeight;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: $btnBorderWidth solid transparent;
  padding: $btnVerticalPadding $btnHorizontalPadding;
  line-height: $btnLineHeight;
  border-radius: $btnBorderRadius;
  cursor: pointer;
}
// <<< Base


// >>> Focus
.btn:focus {
  outline: none;
}
// <<< Focus


// >>> Disabled
.btn:disabled,
.btn.btn--disabled,
fieldset:disabled .btn {
  cursor: default;
  pointer-events: none;
  opacity: $btnDisabledOpacity;
}
// <<< Disabled


.btn {
  @include button-variant(
    $btnColor,
    $btnBgColor,
    $btnBorderColor,
    $btnHoverColor,
    $btnHoverBgColor,
    $btnHoverBorderColor,
    $btnFocusColor,
    $btnFocusBgColor,
    $btnFocusBorderColor,
    $btnFocusBoxShadow,
    $btnActiveColor,
    $btnActiveBgColor,
    $btnActiveBorderColor,
    $btnDisabledColor,
    $btnDisabledBgColor,
    $btnDisabledBorderColor
  );
}


// >>> Transition
.btn {
  transition: $btnTransition;
}

@media screen and (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}
// <<< Transition


// >>> Sizing
.btn--xs {
  font-size: $btnFontSize-xs;
}

.btn--sm {
  font-size: $btnFontSize-sm;
}

.btn--lg {
  font-size: $btnFontSize-lg;
}

.btn--xl {
  font-size: $btnFontSize-xl;
}
// <<< Sizing


// >>> Neighbors
.btn + .btn {
  margin-left: $btnNgbMargin;
}
// <<< Neighbors
