$btn-font-family: inherit !default;
$btn-font-size: 1.2em !default;
$btn-font-size-xs: 0.8em !default;
$btn-font-size-sm: 1em !default;
$btn-font-size-lg: 1.4em !default;
$btn-font-size-xl: 1.8em !default;
$btn-font-weight: inherit !default;
$btn-line-height: 1.4em !default;
$btn-border-width: 1px !default;
$btn-border-radius: 0.15em !default;
$btn-vertical-padding: 0.375em !default;
$btn-horizontal-padding: 0.75em !default;
$btn-disabled-opacity: 0.5 !default;

$btn-transition-appearance: 0.15s ease-in-out !default;
$btn-transition:
  color $btn-transition-appearance,
  background-color $btn-transition-appearance,
  border-color $btn-transition-appearance,
  box-shadow $btn-transition-appearance !default;

$btn-ngb-margin: 1em !default;
