/*
  Variables we use here:
    $transitionAppearance
*/

$btnFontFamily: inherit !default;
$btnFontSize: 1.2em !default;
$btnFontSize-xs: 0.8em !default;
$btnFontSize-sm: 1em !default;
$btnFontSize-lg: 1.4em !default;
$btnFontSize-xl: 1.8em !default;
$btnFontWeight: inherit !default;
$btnLineHeight: 1.4em !default;
$btnBorderWidth: 1px !default;
$btnBorderRadius: 0.15em !default;
$btnDisabledOpacity: 0.5 !default;
$btnVerticalPadding: 0.375em !default;
$btnHorizontalPadding: 0.75em !default;

$btnTransition:
    color $transitionAppearance,
    background-color $transitionAppearance,
    border-color $transitionAppearance,
    box-shadow $transitionAppearance !default;
$btnNgbMargin: 1em !default;
