<div class="app-content">
  <div class="app-section">
    <h2 class="h2">Heading</h2>
    <div class="app-sectionBlock" style="width: 34em;">
      <h1 class="h1">H1 heading</h1>
      <p class="paragraph text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <h2 class="h2">H2 heading</h2>
      <p class="paragraph text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <h3 class="h3">H3 heading</h3>
      <p class="paragraph text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <h4 class="h4">H4 heading</h4>
      <p class="paragraph text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <h5 class="h5">H5 heading</h5>
      <p class="paragraph text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <h6 class="h6">H6 heading</h6>
      <p class="paragraph text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
  </div>

  <div class="app-section">
    <h2 class="h2">Numbered heading</h2>
    <div class="app-sectionBlock h--numbered" style="width: 34em;">
      <h1 class="h1">Lorem ipsum dolor</h1>
      <p class="paragraph text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <h2 class="h2">Dolor sit amet</h2>
      <p class="paragraph text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <h3 class="h3">Consectetur adipiscing elit</h3>
      <p class="paragraph text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <h3 class="h3">Lorem ipsum dolor</h3>
      <p class="paragraph text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <h4 class="h4">Dolor sit amet</h4>
      <p class="paragraph text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <h4 class="h4">Consectetur adipiscing elit</h4>
      <p class="paragraph text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <h3 class="h3">Lorem ipsum dolor</h3>
      <p class="paragraph text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <h4 class="h4">Dolor sit amet</h4>
      <p class="paragraph text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
  </div>

  <div class="app-section">
    <h2 class="h2">Link</h2>
    <div class="app-sectionBlock" style="width: 34em;">
      <p class="paragraph text">
        Lorem ipsum dolor sit amet, <a class="link" href="#">link</a> consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
  </div>

  <div class="app-section">
    <h2 class="h2">Unstyled link</h2>
    <div class="app-sectionBlock" style="width: 34em;">
      <p class="paragraph text">
        Lorem ipsum dolor sit amet, <a class="link link--unstyled" href="#">link</a> consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
  </div>

  <div class="app-section">
    <h2 class="h2">Lists</h2>
    <div class="app-sectionBlock list-reset-counter" style="width: 34em;">
      <p class="paragraph text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <ul class="list list--unordered text">
        <li>Lorem ipsum dolor sit amet...</li>
        <li>Duis aute irure dolor in reprehenderit
          <ul class="list list--unordered text">
            <li>Lorem ipsum dolor sit amet...</li>
            <li>Ut enim ad minim veniam...</li>
          </ul>
        </li>
        <li class="paragraph">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur;</li>
      </ul>
      <p class="paragraph text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <ol class="list list--ordered list-continue-counter text">
        <li>Lorem ipsum dolor sit amet...</li>
        <li>
          <p class="paragraph text">Duis aute irure dolor in reprehenderit</p>
          <ol class="list list--ordered text">
            <li>Lorem ipsum dolor sit amet...</li>
            <li>Ut enim ad minim veniam...</li>
          </ol>
          <p class="paragraph text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <ol class="list list--ordered list-inner-counter text">
            <li>Lorem ipsum dolor sit amet...</li>
            <li>Ut enim ad minim veniam...</li>
          </ol>
          <p class="paragraph text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <ol class="list list--ordered list-continue-counter text">
            <li>Lorem ipsum dolor sit amet...</li>
            <li>Ut enim ad minim veniam...</li>
          </ol>
        </li>
        <li class="paragraph">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur;</li>
      </ol>
      <p class="paragraph text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <ol class="list list--ordered list-continue-counter text">
        <li>Lorem ipsum dolor sit amet...</li>
        <li>Duis aute irure dolor in reprehenderit
          <ol class="list list--ordered text">
            <li>Lorem ipsum dolor sit amet...</li>
            <li>Ut enim ad minim veniam...</li>
          </ol>
        </li>
        <li class="paragraph">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur;</li>
      </ol>
    </div>
  </div>

  <div class="app-section">
    <h2 class="h2">Unstyled lists</h2>
    <div class="app-sectionBlock" style="width: 34em;">
      <ul class="list list--unstyled">
        <li>Lorem ipsum dolor sit amet...</li>
        <li>Ut enim ad minim veniam...</li>
        <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur;</li>
        <li>Excepteur sint occaecat cupidatat non proident...</li>
      </ul>
    </div>
    <div class="app-sectionBlock" style="width: 34em;">
      <ol class="list list--unstyled">
        <li>Lorem ipsum dolor sit amet...</li>
        <li>Ut enim ad minim veniam...</li>
        <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur;</li>
        <li>Excepteur sint occaecat cupidatat non proident...</li>
      </ol>
    </div>
  </div>
</div>
