.preformattedText {
  overflow: visible;;
  margin-top: 0;
  margin-bottom: 0;
  line-height: $preformattedLineHeight;
  font-family: $preformattedFontFamily;
  font-size: $preformattedFontSize;
  color: $preformattedColor;
}
