$container-max-width-sm: 540px;
$container-max-width-md: 720px;
$container-max-width-lg: 960px;
$container-max-width-xl: 1140px;

// $grid-gutter, $grid-gutter-sm and $grid-gutter-lg should be greater than 2 * $container-gutter-width-sm

$container-gutter-width-sm: 20px;
$container-gutter-width-md: 25px;
$container-gutter-width-lg: 30px;
$container-gutter-width-xl: 35px;

$grid-gutter-sm: 10px;
$grid-gutter: 20px;
$grid-gutter-lg: 30px;

$grid-bottom-gutter-sm: 10px;
$grid-bottom-gutter: 20px;
$grid-bottom-gutter-lg: 30px;
