//
//         ┌──────────────────────────────$container-width-max──────────────────────────────┐
//         └──────────────────────────────────────1400──────────────────────────────────────┘
// ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ┐
//         ┌───────────────────────$container-width-xl───────────────────────┐         |
//         └──────────────────────────────1180───────────────────────────────┘         |
// ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─┐              |
//         ┌───────────────$container-width-lg────────────────┐         |              |
//         └───────────────────────960────────────────────────┘         |              |
// ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ┐              |              |
//         ┌────────$container-width-md────────┐         |              |              |
//         └────────────────740────────────────┘         |              |              |
// ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─┐              |              |              |
//         ┌─$container-width-sm─┐        |              |              |              |
//         └─────────540─────────┘        759            979            1199           1419
// ───────────────────────────────sm──────┘┌─────md──────┘┌─────lg──────┘┌─────xl──────┘┌─────max──────>
//                                col      |     col      |     col      |     col      |     col
//                               col-x     |    col-xl    |    col-xl    |    col-xl    |
//                               col-lg    |    col-lg    |    col-lg    |              1420
//                               col-md    |    col-md    |              1200           $grid-breakpoint-xl
//                               col-sm    |              980            $grid-breakpoint-lg
//                                         760            $grid-breakpoint-md
//                                         $grid-breakpoint-sm
//

$grid-breakpoint-sm: 760px !default;
$grid-breakpoint-md: 980px !default;
$grid-breakpoint-lg: 1200px !default;
$grid-breakpoint-xl: 1420px !default;

$container-min-width: 540px !default;
$container-max-width: 1400px !default;

$container-width-sm: $container-min-width !default;
$container-width-md: 740px !default;
$container-width-lg: 960px !default;
$container-width-xl: 1180px !default;
$container-width-max: $container-max-width !default;

$container-gutter-sm: 30px !default;
$container-gutter-md: 35px !default;
$container-gutter-lg: 40px !default;
$container-gutter-xl: 60px !default;
$container-gutter-max: 80px !default;

$grid-gutter-sm: 10px !default;
$grid-gutter: 20px !default;
$grid-gutter-lg: 30px !default;
