/*
  This contorls have borders:
    // Textlike controls
    .formControl-date
    .formControl-datetime
    .formControl-datetime-local
    .formControl-email
    .formControl-month
    .formControl-number
    .formControl-password
    .formControl-search
    .formControl-tel
    .formControl-text
    .formControl-time
    .formControl-url
    .formControl-week

    // Select
    .formControl-select

    // Textarea
    .formControl-textarea

  This controls have no borders:
    // Checkbox
    .formControl-checkbox

    // Color
    .formControl-color

    // File
    .formControl-file

    // Image
    .formControl-image

    // Radio
    .formControl-radio

    // Range
    .formControl-range
 */

.form {}

.formGroup {
  margin-bottom: 1em;
}

.formGroup.row {
  margin-bottom: 0;
}

.formGroup > .col,
.formGroup > .col-1,
.formGroup > .col-2,
.formGroup > .col-3,
.formGroup > .col-4,
.formGroup > .col-5,
.formGroup > .col-6,
.formGroup > .col-7,
.formGroup > .col-8,
.formGroup > .col-9,
.formGroup > .col-10,
.formGroup > .col-11,
.formGroup > .col-12,
.formGroup > .col-auto {
  display: flex;
  align-items: center;
}

.formLabel {
  display: block;
  margin-bottom: .5em;
  font-size: inherit;
  line-height: 1.5;
}

.row > .formLabel {
  padding-top: calc(0.375rem + 1px);
  padding-bottom: calc(0.375rem + 1px);
}

.form--labelRightAlign .formLabel {
  text-align: right;
  justify-content: flex-end;
}

.form--labelLeftAlign .formLabel {
  text-align: right;
  justify-content: flex-start;
}

.form fieldset,
.fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

.formControl-date,
.formControl-datetime,
.formControl-datetime-local,
.formControl-email,
.formControl-month,
.formControl-number,
.formControl-password,
.formControl-search,
.formControl-tel,
.formControl-text,
.formControl-time,
.formControl-url,
.formControl-week,
// Select
.formControl-select,
// Textarea
.formControl-textarea {
  display: block;
  width: 100%;
  height: calc(2.25em + 2px);
  padding: 0.375em 0.75em;
  font-size: 1em;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25em;
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

@media screen and (prefers-reduced-motion: reduce) {
  .formControl-date,
  .formControl-datetime,
  .formControl-datetime-local,
  .formControl-email,
  .formControl-month,
  .formControl-number,
  .formControl-password,
  .formControl-search,
  .formControl-tel,
  .formControl-text,
  .formControl-time,
  .formControl-url,
  .formControl-week,
    // Select
  .formControl-select,
    // Textarea
  .formControl-textarea {
    transition: none;
  }
}

.formControl-select[multiple],
.formControl-select[size],
.formControl-textarea {
  height: 5em;
  overflow-y: auto; // Remove unnecessary scroll bar (at least at chrome)
}

.formControl-select option {
  color: inherit; // Chrome disabled select options fix
}

// File
.formControl-file,
// Range
.formControl-range {
  display: block;
  width: 100%;
}

.formControl-date:focus,
.formControl-datetime:focus,
.formControl-datetime-local:focus,
.formControl-email:focus,
.formControl-month:focus,
.formControl-number:focus,
.formControl-password:focus,
.formControl-search:focus,
.formControl-tel:focus,
.formControl-text:focus,
.formControl-time:focus,
.formControl-url:focus,
.formControl-week:focus,
// Select
.formControl-select:focus,
// Textarea
.formControl-textarea:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2em rgba(0, 123, 255, 0.25);
}

.formControl-date:disabled,
.formControl-datetime:disabled,
.formControl-datetime-local:disabled,
.formControl-email:disabled,
.formControl-month:disabled,
.formControl-number:disabled,
.formControl-password:disabled,
.formControl-search:disabled,
.formControl-tel:disabled,
.formControl-text:disabled,
.formControl-time:disabled,
.formControl-url:disabled,
.formControl-week:disabled,
// Select
.formControl-select:disabled,
// Textarea
.formControl-textarea:disabled,
.formControl-date[readonly],
.formControl-datetime[readonly],
.formControl-datetime-local[readonly],
.formControl-email[readonly],
.formControl-month[readonly],
.formControl-number[readonly],
.formControl-password[readonly],
.formControl-search[readonly],
.formControl-tel[readonly],
.formControl-text[readonly],
.formControl-time[readonly],
.formControl-url[readonly],
.formControl-week[readonly],
// Textarea
.formControl-textarea[readonly] {
  color: #acaab3;
  background-color: #f6f6f8;
  border-color: #eaeaef;
  opacity: 1; // TODO What browser and element fix is this?
  cursor: default; // textarea Chrome fix
}

// Checkbox
.formControl-checkbox:disabled,
// Color
.formControl-color:disabled,
// File
.formControl-file:disabled,
// Image
.formControl-image:disabled,
// Radio
.formControl-radio:disabled,
// Range
.formControl-range:disabled {
  opacity: 1; // TODO What browser and element fix is this?
  cursor: default; // input[type=image] Chrome and Firefox fix
}

/*
  TODO Check if prefixes exists in compiled css:
    ::-webkit-input-placeholder
    :-ms-input-placeholder
    ::-ms-input-placeholder
*/
.formControl-date::placeholder,
.formControl-datetime::placeholder,
.formControl-datetime-local::placeholder,
.formControl-email::placeholder,
.formControl-month::placeholder,
.formControl-number::placeholder,
.formControl-password::placeholder,
.formControl-search::placeholder,
.formControl-tel::placeholder,
.formControl-text::placeholder,
.formControl-time::placeholder,
.formControl-url::placeholder,
.formControl-week::placeholder,
// Select
.formControl-select::placeholder,
// Textarea
.formControl-textarea::placeholder {
  color: #acaab3;
  opacity: 1; // TODO What browser fix is this?
}

.formControl-date:disabled::placeholder,
.formControl-datetime:disabled::placeholder,
.formControl-datetime-local:disabled::placeholder,
.formControl-email:disabled::placeholder,
.formControl-month:disabled::placeholder,
.formControl-number:disabled::placeholder,
.formControl-password:disabled::placeholder,
.formControl-search:disabled::placeholder,
.formControl-tel:disabled::placeholder,
.formControl-text:disabled::placeholder,
.formControl-time:disabled::placeholder,
.formControl-url:disabled::placeholder,
.formControl-week:disabled::placeholder,
// Select
.formControl-select:disabled::placeholder,
// Textarea
.formControl-textarea:disabled::placeholder,
.formControl-date[readonly]::placeholder,
.formControl-datetime[readonly]::placeholder,
.formControl-datetime-local[readonly]::placeholder,
.formControl-email[readonly]::placeholder,
.formControl-month[readonly]::placeholder,
.formControl-number[readonly]::placeholder,
.formControl-password[readonly]::placeholder,
.formControl-search[readonly]::placeholder,
.formControl-tel[readonly]::placeholder,
.formControl-text[readonly]::placeholder,
.formControl-time[readonly]::placeholder,
.formControl-url[readonly]::placeholder,
.formControl-week[readonly]::placeholder,
  // Textarea
.formControl-textarea[readonly]::placeholder {
  color: #d0cfd6;
}
