.form {}

.form-group {
  margin-bottom: $form-group-margin-bottom;
}

.form-group--vertical {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-group--vertical > * + * {
  margin-top: $form-group-vertical-ngb-margin;
}

.form-group--horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form-group--horizontal > * + * {
  margin-left: $form-group-horizontal-ngb-margin;
}

.form-group > .col,
.form-group > .col-1,
.form-group > .col-2,
.form-group > .col-3,
.form-group > .col-4,
.form-group > .col-5,
.form-group > .col-6,
.form-group > .col-7,
.form-group > .col-8,
.form-group > .col-9,
.form-group > .col-10,
.form-group > .col-11,
.form-group > .col-12,
.form-group > .col-auto {
  display: flex;
  align-items: center;
}

.form-label {
  display: inline-block;
  font-size: $form-label-font-size;
  line-height: $form-label-line-height;
}

.form-group .form-label {
  display: block;
}

.form fieldset,
.fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

.form-control,
.textarea {
  display: block;
  width: 100%;
  padding: $form-control-vertical-padding $form-control-horizontal-padding;
  font-family: $form-control-font-family;
  font-size: $form-control-font-size;
  font-weight: $form-control-font-weight;
  line-height: $form-control-line-height;
  color: $form-control-color;
  background-color: $form-control-bg-color;
  background-clip: padding-box;
  border: $form-control-border-width solid $form-control-border-color;
  border-radius: $form-control-border-radius;
  transition: $form-control-transition;
}

.form-control {
  height: calc(#{$form-control-vertical-padding} * 2 + #{$form-control-line-height} * #{$form-control-border-width} * 2);
}

.textarea {
  height: $textarea-height;
}

@media screen and (prefers-reduced-motion: reduce) {
  .form-control,
  .textarea {
    transition: none;
  }
}

.form-control:focus,
.textarea:focus {
  color: $form-control-focus-color;
  background-color: $form-control-focus-bg-color;
  border-color: $form-control-focus-border-color;
  box-shadow: $form-control-focus-box-shadow;
  outline: none;
}

.form-control[readonly],
.textarea[readonly] {
  color: $form-control-readonly-color;
  background-color: $form-control-readonly-bg-color;
  border-color: $form-control-readonly-border-color;
  opacity: $form-control-readonly-opacity;
  cursor: default;
}

.form-control:disabled,
.textarea:disabled {
  color: $form-control-disabled-color;
  background-color: $form-control-disabled-bg-color;
  border-color: $form-control-disabled-border-color;
  opacity: $form-control-disabled-opacity;
  cursor: default;
}

.form-control::placeholder,
.textarea::placeholder {
  opacity: 1;
  color: $form-control-placeholder-color;
  user-select: none;
}

.form-control[readonly]::placeholder,
.textarea[readonly]::placeholder {
  color: $form-control-readonly-placeholder-color;
}

.form-control:disabled::placeholder,
.textarea:disabled::placeholder {
  color: $form-control-disabled-placeholder-color;
}
