@use "./variables" as *;

.form {}

.label-group {
  margin-bottom: $label-group-margin-bottom;
}

.label-group--vertical {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.label-group--vertical > * + * {
  margin-top: $label-group-vertical-ngb-margin;
}

.label-group--horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.label-group--horizontal > * + * {
  margin-left: $label-group-horizontal-ngb-margin;
}

.label-group > .col,
.label-group > .col-1,
.label-group > .col-2,
.label-group > .col-3,
.label-group > .col-4,
.label-group > .col-5,
.label-group > .col-6,
.label-group > .col-7,
.label-group > .col-8,
.label-group > .col-9,
.label-group > .col-10,
.label-group > .col-11,
.label-group > .col-12,
.label-group > .col-auto {
  display: flex;
  align-items: center;
}

.form-label {
  display: inline-block;
  font-size: $form-label-font-size;
  line-height: $form-label-line-height;
}

.label-group .form-label {
  display: block;
}

.form-fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
