$form-group-vertical-ngb-margin: 0.32em;
$form-group-horizontal-ngb-margin: 0.64em;

$form-control-color: #495057 !default;
$form-control-bg-color: #fff !default;
$form-control-border-color: #ced4da !default;
$form-control-border-width: 1px !default;
$form-control-border-radius: 0.25em !default;
$form-control-placeholder-color: #acaab3 !default;

$form-control-focus-color: #495057 !default;
$form-control-focus-bg-color: #fff !default;
$form-control-focus-border-color: #80bdff !default;
$form-control-focus-box-shadow: 0 0 0 0.2em rgba(0, 123, 255, 0.25) !default;

$form-control-readonly-color: $form-control-color !default;
$form-control-readonly-border-color: $form-control-border-color !default;
$form-control-readonly-bg-color: lighten($form-control-readonly-border-color, 12.5%) !default;
$form-control-readonly-opacity: 1 !default;
$form-control-readonly-placeholder-color: $form-control-placeholder-color !default;

$form-control-disabled-color: $form-control-color !default;
$form-control-disabled-bg-color: $form-control-bg-color !default;
$form-control-disabled-border-color: $form-control-border-color !default;
$form-control-disabled-opacity: 0.5 !default;
$form-control-disabled-placeholder-color: $form-control-placeholder-color !default;

$form-control-horizontal-padding: 0.75em !default;
$form-control-vertical-padding: 0.375em !default;
$form-control-line-height: 1.4em !default;
$form-control-font-family: inherit !default;
$form-control-font-size: 1em !default;
$form-control-font-weight: inherit !default;

$form-control-transition-appearance: 0.15s ease-in-out !default;
$form-control-transition:
  color $form-control-transition-appearance,
  background-color $form-control-transition-appearance,
  border-color $form-control-transition-appearance,
  box-shadow $form-control-transition-appearance !default;

$textarea-height: 5em !default;

$form-group-margin-bottom: 1em !default;

$form-label-font-size: inherit !default;
$form-label-line-height: 1.2em !default;
