$label-group-vertical-ngb-margin: 0.32em !default;
$label-group-horizontal-ngb-margin: 0.64em !default;
$label-group-margin-bottom: 1em !default;

$form-label-font-size: inherit !default;
$form-label-line-height: 1.2em !default;
