$formControlColor: #495057 !default;
$formControlBgColor: #fff !default;
$formControlBorderColor: #ced4da !default;
$formControlBorderWidth: 1px !default;
$formControlBorderRadius: 0.25em !default;
$formControlPlaceholderColor: #acaab3 !default;

$formControlFocusColor: #495057 !default;
$formControlFocusBgColor: #fff !default;
$formControlFocusBorderColor: #80bdff !default;
$formControlFocusBoxShadow: 0 0 0 0.2em rgba(0, 123, 255, 0.25) !default;
$formControlFocusOutline: 0 !default;

$formControlDisabledColor: #acaab3 !default;
$formControlDisabledBgColor: #f6f6f8 !default;
$formControlDisabledBorderColor: #eaeaef !default;
$formControlDisabledOpacity: 1 !default;
$formControlDisabledPlaceholderColor: #d0cfd6 !default;

$formControlHorizontalPadding: 0.75em !default;
$formControlVerticalPadding: 0.375em !default;
$formControlLineHeight: 1.4 !default;
$formControlFontSize: 1em !default;
$formControlTransitionAppearance: 0.15s ease-in-out !default;

$selectMultipleHeight: 5em !default;
$textareaHeight: 5em !default;

$formGroupMarginBottom: 1em !default;

$formLabelFontSize: 1em !default;
$formLabelLineHeight: 1.4 !default;
$formLabelMarginBotton: 0.32em !default;
